[2020-07-12 12:04] navendu-pottekkat opened #2 "Add option for the user to choose how to filter the images"
## Expected Behavior

The user should be able to select how the image should be filtered from the following options:

* Replace with an image from Unsplash
* Blur image
* Replace image with custom image
* Add watermark to the image
* Do nothing/ turn off filter

## Current Behavior

Currently, if the images are found to be NSFW, they are automatically replaced by images from Unsplash.

## Possible

[2020-07-15 06:21] navendu-pottekkat opened #3 "Check image before the page is loaded"
## Expected Behavior

The model should be activated as soon as the web page is loaded. Possibly before anything is displayed on the screen.

## Current Behavior

Currently, the model is activated when the user scrolls through a website. And there is a noticeable lag.

[2020-07-15 15:00] GantMan opened #4 "Add to NSFWJS for free marketing"
It would be readily accepted if you added a link to this project as a PR on NSFWJS

[2020-07-15 15:23] navendu-pottekkat commented on #4
Sure! I will add it! Should I make a pull req?

[2020-07-15 15:24] navendu-pottekkat commented on #4
And where should I add it?

[2020-07-15 15:33] GantMan commented on #4
You can add it as one of the examples, or below that in the "MORE" section.

[2020-07-15 15:34] navendu-pottekkat commented on #4
Okay! I will make a pull req

[2020-07-15 16:11] navendu-pottekkat commented on #4
I have made a pull req

[2020-07-16 11:05] navendu-pottekkat commented on #4
Would you mind if I tagged you in a LinkedIn post?

[2020-07-16 14:20] navendu-pottekkat opened #6 "Add popup that lets users choose how they want to filter the content"
## Expected Behavior

Add a popup window with buttons to choose if the user likes to have the images replaced, blurred, or added a watermark.

## Current Behavior

No popup and by default the images are replaced.

[2020-07-16 14:21] navendu-pottekkat commented on #2
This feature has been implemented in the feature update branch and would be available in the next release.

However a UI for this has not been created

[2020-07-16 18:30] GantMan commented on #4
Tag away!  SOunds like a plan!

[2020-07-16 19:28] navendu-pottekkat commented on #4
https://www.linkedin.com/posts/navendup_navendu-pottekkatnsfw-filter-activity-6689531508220411905-lUw2

[2020-07-18 00:23] auto-responder opened #7 "Some issues when installing to chrome"
See below.

## Expected Behavior

It should not have the below errors in the Chrome extensions manager.

## Current Behavior

Chrome lists these issues after loading the unpacked `dist` directory

Overriding the gradient for 'Max'
Overriding the gradient for 'OneHot'
Overriding the gradient for 'PadV2'
Overriding the gradient for 'SpaceToBatchND'
Overriding the gradient for 'SplitV'

## Possible S

[2020-07-18 00:26] willsmanley commented on #7
And I receive these errors in Firefox:

[code]

[2020-07-18 00:37] willsmanley commented on #7
Sorry to have created an issue about this, as maybe it is not an issue after all. Now I have tested it again and see that it is working, but with a bit of a lag. That threw me off. I assume the errors are expected as part of the beta phase.

[2020-07-18 05:19] navendu-pottekkat commented on #7
The warnings shown in Chrome is from TensorFlow JS. This would be fixed in the next release of TensorFlow. It does not cause a problem. Errors are expected when running in a developer environment right? This would not be shown when you actually install it from the store. (It is available in Firefox store)

The lag there has been fixed and would be updated in the next release. The model will then b

[2020-07-18 05:33] #4 closed

[2020-07-18 09:11] navendu-pottekkat commented on #7
Fixed the loading issue and added it to the latest release

[2020-07-19 16:16] GantMan opened #8 "Add to Made With ML Site"
You should share this work on https://madewithml.com/

You can even reference NSFWJS which is on there - https://madewithml.com/collections/3302/projects/?sortby=latest

Great work here!   I hope you can share it with everyone!

[2020-07-19 16:20] navendu-pottekkat commented on #8
Hi Gant,

I will definitely share this! Thanks again for the help and the awesome
model!

Navendu

On Sun, 19 Jul 2020 at 21:46, Gant Laborde <notifications@github.com> wrote:

[2020-07-19 17:14] navendu-pottekkat commented on #8
@GantMan Here is the project in Made with ML : https://madewithml.com/projects/1911/nsfw-filter/

[2020-07-19 22:38] willsmanley commented on #7
@navendu-pottekkat would it make sense to add a feature (or standard behavior) wherein the images on a webpage are all blurred until they have confirmed to be safe? At the moment, even a small lag defeats the purpose because the user sees a flash of the image. It would be pretty hard to get it to reliably less than the ~50 ms time that human eyes take to perceive something. Thanks for the great ex

[2020-07-20 04:34] navendu-pottekkat commented on #7
That is a good idea. I will try that. You can also try to add that feature. Just make a PR in the feature updates branch. I have also added options for the user to select how to filter out the images from a pop-up. It is not finished yet but most of the code is written. You can add a function in that that would blur the images before they are passed to the model and unblur only of they are safe.

[2020-07-22 06:51] willsmanley commented on #7
@navendu-pottekkat thanks. another thing that would be nice would be to disable the console logging for the production build of the extension. When I am working on other projects, these logs would be nice to eliminate, especially on pages with lots of images.

[2020-07-22 07:07] navendu-pottekkat commented on #7
@willsmanley This is already implemented. You can check the content.js file and set debug to 0. This would prevent the extension from logging anything in the console. Since this is under development by default it is set to 1. You can change that to make it work!

[2020-07-24 00:07] willsmanley commented on #7
nice that works for me!

I found from my Nodejs implementation of the NSFWJS model that it was most effective to block images by adding together the probabilities for Sexy + Porn + Hentai instead of relying on any single probability. Some images are inappropriate and will be like 40% porn and 40% sexy. Combining those categories makes it a lot clearer.

I still haven't looked into your code and wh

[2020-07-25 15:51] YegorZaremba opened #9 "Increase performance"
## Expected Behavior
Processing images faster

## Current Behavior
Slow, buggy for human eye

## Possible Solution
I see 2 bottlenecks:
1) We have [3 prepared method](https://github.com/navendu-pottekkat/nsfw-filter/blob/master/src/content.js#L32), better to combine in one loop
2) Probably better to use `DOMContentLoaded` event instead of `load` [line in code](https://github.com/navendu-pottekkat/

[2020-07-25 16:14] YegorZaremba opened #10 "Rethink user experience of nsfw filter extension"
## Current Behavior

Browser load page, if we have some NSFW images on page, in most cases we should wait more than 0.5 second to analize, fetch unsplash images and DOM redrawing. I mean our users have already seen NSFW content, however was not expected for them

## Possible Solution

How i see logic:
1) When DOM loaded we should hide all images (f.e. css way - `visibility: hidden`), cause we don'

[2020-07-25 16:26] navendu-pottekkat commented on #9
@YegorZaremba Could you fix this issue and make a PR?

[2020-07-25 16:32] navendu-pottekkat commented on #10
@YegorZaremba That is a good idea. I was planning on implementing it and could not yet get to it. I just wanted to get an MVP out so that everyone can contribute. You can fix it and create a PR. We will also add you to the contributors' list.

[2020-07-26 12:45] #9 closed

[2020-07-26 12:48] #3 closed

[2020-07-26 13:40] navendu-pottekkat commented on #7
@all-contributors please add @anonacc for bug

[2020-07-26 13:55] yzevm opened #16 "Handle unsafe content in <video> html tag"
## Expected Behavior

Block unsafe content in `<video />` tag

## Current Behavior

Nothing, just showing unsafe content

## Steps to Reproduce (for bugs)

1. Go to any website with unsafe videos

[2020-07-26 13:57] navendu-pottekkat commented on #16
You coming up with all these ideas! So great!

[2020-07-26 13:59] navendu-pottekkat commented on #16
@YegorZaremba Do share the project with your connections so we can get more awesome contributors!

[2020-07-27 06:29] navendu-pottekkat commented on #10
@YegorZaremba Hey, just realised that the image is just getting hidden. How about we blur the image and add a watermark if they are found to be NSFW? Please refer the feature-preview-16-july branch for the implemented code. Since you have added the feature you could also be the one to add this functionality. What do you think?

[2020-07-27 12:12] abhirammltr opened #17 "Add an alert box when nsfw images found"
## Expected Behavior
It should show an alert box when nsfw images detected.
## Current Behavior
No alert. Extension will automatically filter nsfw images.

## Edit
What @abhirammltr is talking about is that when the user enters a website, we check the images in the website as soon as it loads and gives an alert to the user saying that we have found NSFW content on it. The user could go back or con

[2020-07-27 12:26] navendu-pottekkat commented on #17
@all-contributors please add @abhirammltr as code, bug, ideas

[2020-07-27 12:26] YegorZaremba commented on #10
@navendu-pottekkat Hi, Im not not strongly against of watermarks usage, needs to discuss more with users
But I'm sure that blurring is worse than hidden visibility, cause when image is blur you know 100% that its nsfw content, cause:
1. You still can see something unsafe, I mean you get main idea of picture (to avoid needs high percent of bluring like 97% and above)
2. You definitely sure that its

[2020-07-27 12:32] YegorZaremba commented on #17
Hi @abhirammltr, thanks for your contribution, could you please talk more, which kind of alert you expect to see? We have some discussion about it [here](https://github.com/navendu-pottekkat/nsfw-filter/issues/10#issuecomment-664365247)

[2020-07-27 12:43] navendu-pottekkat commented on #10
@YegorZaremba The only concern I have is that the users won't know if the content was NSFW. They may think that there is a loading issue. So what I wanted was to let the users choose how they want the image to be filtered. The idea I had was these three:

- Blur the image
- Add a watermark
- Replace the image

The user can set this from the extension popup. I have built a UI for that in the ```fea

[2020-07-27 12:45] navendu-pottekkat commented on #17
@YegorZaremba What @abhirammltr is talking about is that when the user enters a website, we check the images in the website as soon as it loads and gives an alert to the user saying that we have found NSFW content on it. The user could go back or continue to the website.

[2020-07-27 13:00] YegorZaremba commented on #10
Yeah, popup menu with options how users can handle nsfw content - awesome idea

[2020-07-27 13:07] YegorZaremba commented on #17
Get it, so how I get it, if website has more than for example 10 unsafe items, we display huge alert which covering whole page?

[2020-07-27 13:09] navendu-pottekkat commented on #10
@abhirammltr is working on this but having some issues. We will create a slack channel and let's communicate there

[2020-07-27 13:13] navendu-pottekkat commented on #17
@YegorZaremba It would be the default browser alert box. It will just show on top of the page like the one below.

![](https://www.oreilly.com/library/view/javascript-jquery/9781491948583/httpatomoreillycomsourceoreillyimages2120678.png.jpg)

[2020-07-27 13:34] navendu-pottekkat commented on #17
@YegorZaremba Please join this slack channel https://join.slack.com/t/nsfwfilter/shared_invite/zt-gfx0dewg-Hc0~3gu4jXcCDYWQxu3lZA

[2020-07-27 16:44] #7 closed

[2020-07-27 16:45] #8 closed

[2020-07-27 16:56] yxlin118 opened #19 "Filter loading lag"
When open pages with nsfw contents, the images are visible initially and then filtered out.
## Expected Behavior

Contents should be filtered out immediately and not visible.
## Current Behavior

Small lag between images being visible and filtered. When the page is first loading, all unsafe contents are visible and after a few seconds, all images are filtered out.
## Possible Solution

## Steps to

[2020-07-27 17:05] navendu-pottekkat commented on #19
@YegorZaremba There seems to be a small lag from when the pages are loaded and the images are hidden. Can we fix this?
@yxlin118 is currently looking for a solution to this.
@YegorZaremba Please check in on this.

[2020-07-27 17:14] YegorZaremba commented on #19
Hi, thanks for contributing, so yeah its issue that I tried to solve, thought that `document.addEventListener("DOMContentLoaded", func);` will fix it, cause we used(and still use `window load event`, but same behaviour. Please share If you find sth related to solution

[2020-07-27 17:23] yxlin118 commented on #19
@YegorZaremba Hi Yegor thanks for following up! What do you mean by `document.addEventListener("DOMContentLoaded", func);` will fix it but stil lthe same behavior?

[2020-07-27 17:25] YegorZaremba commented on #19
We subscribe on event to know when page is load, there are to events for our case
`DOMContentLoaded` – the browser fully loaded HTML, and the DOM tree is built, but external resources like pictures <img> and stylesheets may be not yet loaded.
`load` – not only HTML is loaded, but also all the external resources: images, styles etc.

[2020-07-27 17:29] yxlin118 commented on #19
I see. I can look into that. Do you have any useful documentation that you would recommend me to look into?

[2020-07-27 17:29] navendu-pottekkat commented on #19
@all-contributors please add @yxlin118 for bug, ideas

[2020-07-27 17:34] YegorZaremba commented on #19
Not really, im newbie in extensions, I use https://developer.chrome.com/extensions/devguide and https://developer.mozilla.org/en-US/docs/Web/API/Window

[2020-07-27 17:42] yxlin118 commented on #19
Thanks! I will take a look.

[2020-07-27 18:09] YegorZaremba opened #21 "Change way of handle lazy load images"
Properly handle lazy load in [code](https://github.com/navendu-pottekkat/nsfw-filter/blob/master/src/content.js#L35)

## Expected Behavior

mark as safe content

## Current Behavior

mark as safe content but check in every scroll

## Possible Solution

handle img `data-original` attribute instead of `classNames`

## Steps to Reproduce (for bugs)

1. Load any safe website with `load` or `lazy` in u

[2020-07-27 19:39] yxlin118 commented on #19
I think currently what I am experiencing is that a lot of times it will only start the filtering process after I start to scroll. Not sure if that's a problem with other people too.

[2020-07-27 19:59] YegorZaremba commented on #19
Yeah, its a another issue :D In cases of websites where JS dynamically render DOM elements, we just set timeout right now [line in code](https://github.com/navendu-pottekkat/nsfw-filter/blob/master/src/content.js#L65)

[Related solution](https://stackoverflow.com/a/48514876/10432429) of it

[2020-07-27 21:27] yxlin118 commented on #19
And a lot of times when I scroll back up the filtered image would reappear and be filtered again. Probably also has to do elements being rendered dynamically?

[2020-07-27 22:28] YegorZaremba commented on #19
Yeah you talk about lazy loading content and its another issue :D, which I'll fix soon #21

[2020-07-28 00:59] yxlin118 commented on #19
I think I might have a fix using MutationObserver, and it seems to also fix the issue where scrolling might would make contents visible again. Can I be added to the repo so I can push my branch to set up review and pull request? @navendu-pottekkat

[2020-07-28 05:17] navendu-pottekkat commented on #19
@yxlin118 Please for this repo and create a pull request. I will review the code and add it

[2020-07-28 05:21] yxlin118 commented on #19
@navendu-pottekkat  I don't have access for this repo for me to push a branch and create pull request

[2020-07-28 05:25] navendu-pottekkat commented on #19
@yxlin118 You can create a pull request by forking this branch and making changes in your forked version and test it out to make sure everything works. Once you have committed to your forked version, you can create a pull request and we will review it and accept. You don't need access to the repo for making PRs.

Check the docs for more info: https://gist.github.com/Chaser324/ce0505fbed06b947d962

[2020-07-28 05:33] navendu-pottekkat commented on #19
Earlier we handled this using a separate function which checks for valid images. If the images have already been replaced then sets a dataset in the image as shown in the code below:

[code]

@YegorZaremba Why did we remove this?

[2020-07-28 05:48] navendu-pottekkat commented on #19
@YegorZaremba Could you also check the PR?

[2020-07-28 07:39] YegorZaremba commented on #19
[we didn't](https://github.com/navendu-pottekkat/nsfw-filter/blob/master/src/content.js#L28) , I just put everything in a single loop
will check in 12hr

[2020-07-28 07:49] navendu-pottekkat commented on #19
@YegorZaremba But then we should not be having this issue right?

Also, I am having some problems with @yxlin118 's [**PR**](https://github.com/navendu-pottekkat/nsfw-filter/pull/22). I am experiencing some issues and some performance issues. Could you check and confirm?

I have invited you as a collaborator. Please check your mail and confirm,

[2020-07-28 07:53] YegorZaremba commented on #19
Yeah. I'll fix it today
sure
accepted

[2020-07-28 10:34] YegorZaremba opened #24 "Improve handling of dynamically rendering DOM elements"
In cases of websites where JS dynamically render DOM elements, we should somehow notice about new elements and filter them
How it works now - we just set timeout [line in code](https://github.com/navendu-pottekkat/nsfw-filter/blob/master/src/content.js#L65)

## Expected Behavior

should notice when new DOm element was added and filter it

## Current Behavior

Extension Ignores new DOM elements

##

[2020-07-28 11:40] YegorZaremba opened #25 "Landed extension on chrome webstore"
## Expected Behavior

Extension landed on https://chrome.google.com/webstore/category/extensions

## Current Behavior

There is no extension

[2020-07-28 20:54] YegorZaremba commented on #16
I'll take it

[2020-07-28 21:00] YegorZaremba commented on #19
Difficult bug, lets fix it in the next releases, removed from v1.0.0

[2020-07-28 21:13] YegorZaremba opened #27 "Add ESLint and some CI checks"
We should have some tools to check code quality in future PRs

[2020-07-29 01:20] YegorZaremba commented on #16
Looks like https://github.com/infinitered/nsfwjs doesnt work properly with `video` tags, hold this issue for next releases

Related issues:
- https://github.com/infinitered/nsfwjs/issues/320
- https://github.com/infinitered/nsfwjs/issues/101
- https://github.com/infinitered/nsfwjs/issues/39

[2020-07-29 06:18] navendu-pottekkat commented on #19
@YegorZaremba That is a good idea. We should get more eyes on the project and we will fix the bug

[2020-07-29 07:16] navendu-pottekkat commented on #25
Got the developer account. Will publish v1.0.0 on Firefox store and Chrome store

[2020-07-29 10:37] navendu-pottekkat commented on #27
We can close this right? @YegorZaremba

[2020-07-29 11:01] YegorZaremba commented on #27
I guess it will closed automatically, when `dev` will be merged, will see

[2020-07-29 11:39] #27 closed

[2020-07-29 11:39] #24 closed

[2020-07-29 11:39] #21 closed

[2020-07-29 11:40] #10 closed

[2020-07-29 11:43] navendu-pottekkat opened #30 "V1.0.0 Release"
V1.0.0 is now officially complete. Let's look into how we can share this project with a more broad audience to get more awesome ideas and features. Here are some of the things I would like to check:

- [x] Check documentation
- [x] Manual testing
- [x] Social media posts
- [x] Releasing on Firefox and Chrome addons store

[2020-07-29 12:05] YegorZaremba commented on #30
Awesome, do you have any date when you planning to upload extension to firefox addons and chrome webstore?

I think sample of marketing post is helpful to reach new users on social media like `reddit, 4chan and etc`

[2020-07-29 12:20] navendu-pottekkat commented on #30
@YegorZaremba How about we release it tomorrow?

[2020-07-29 12:34] navendu-pottekkat commented on #30
@YegorZaremba We will follow these guides:

https://hackernoon.com/how-to-promote-your-github-project-1b39a7eee841
https://medium.com/free-code-camp/how-to-get-up-to-3500-github-stars-in-one-week-339102b62a8f

What we can do is write an article about the project and share it in these platforms.

[2020-07-29 15:19] navendu-pottekkat commented on #25
Submitted to Firefox and waiting for review in Chrome store

[2020-07-29 15:22] navendu-pottekkat commented on #25
@YegorZaremba Chrome has quite strict permission policies. Could you check if all the permissions are required for your code to work?

[2020-07-29 15:29] navendu-pottekkat commented on #30
Updated the latest version in Firefox Add-ons store: https://addons.mozilla.org/en-US/firefox/addon/nsfw-filter/

Waiting for approval from the chrome store.

[2020-07-29 20:49] YegorZaremba commented on #30
So late, but what do you think about name? `nsfw-filter`, I mean we do similar thing as `AdBlock`, but for nsfw content, maybe `NSFWBlock` or sth with `block` is better for future marketing/promotion?
In my world block > filter :smile:

[2020-07-30 04:55] navendu-pottekkat commented on #30
They both convey the same purpose right? First it was actually NSFW Block but I changed it to filter. This would work well if in the future we are giving the user more filtering options. @YegorZaremba How are the tests going? I think things are looking good. I have update the docs and now I have to make writeups for sharing the project

[2020-07-30 05:21] YegorZaremba commented on #30
Get it, I use our extension(and love it), looks there aren't huge troubles, maybe few memory leaks, but for v1.0.0 - its fine

[2020-07-30 05:26] navendu-pottekkat commented on #30
@YegorZaremba What time should we release? I would say around 9:00 PM IST? I have setup the articles and would go through a check once again.

[2020-07-30 05:31] navendu-pottekkat commented on #30
Product Hunt Link: Sheduled for release at 9:00 AM PT https://www.producthunt.com/posts/nsfw-filter/maker-invite?code=wNxkjN

[2020-07-30 09:02] navendu-pottekkat opened #31 "Remove redundant permissions from manifest.json"
## Expected Behavior

Only require permissions that are necessary.

## Current Behavior

Some permissions are redundant and are not being used.

## Possible Solution

Check all the permissions in the manifest and check if they are being used and are really necessary.

## Context

Redundant permissions without any uses could get the extension removed from the Chrome Webstore.

version: v1.0.0

[2020-07-30 09:27] YegorZaremba commented on #31
taken, will fix in 12hr

[2020-07-30 14:35] navendu-pottekkat commented on #30
@YegorZaremba All set for the release. You also share in every channel you can find. I will share it in 1hr from now. I will share the links to the post after that.

[2020-07-30 14:51] navendu-pottekkat commented on #30
https://madewithml.com/projects/2008/extension-to-block-nsfw-content-using-ai/

[2020-07-30 15:15] navendu-pottekkat commented on #30
@YegorZaremba Share away! I have very low reddit Karma after I lost my old account. Post on r/javascript and r/webdev

[2020-07-30 15:23] navendu-pottekkat commented on #30
Extension to block NSFW images using AI!

#AI #ArtificialIntelligence #MachineLearning #webdev #Chrome #ComputerVision #DataScience #OpenSource #programming #programmer #code  #javascript #TensorFlow #keras #Python #github #productivity #product

https://github.com/navendu-pottekkat/nsfw-filter

[2020-07-30 19:11] navendu-pottekkat commented on #30
@YegorZaremba https://www.reddit.com/r/javascript/comments/i0nmbe/nsfw_filter_block_nsfw_content_using_ai/

[2020-07-30 19:30] YegorZaremba commented on #30
yeah boy, awesome! ( upvoted :smile: )

[2020-07-30 19:32] navendu-pottekkat commented on #30
@YegorZaremba You also share in every possible place as in the article you shared. This should be blowing up by tomorrow! (I wish)

[2020-07-30 19:38] navendu-pottekkat commented on #30
@YegorZaremba while you are sharing, I would suggest you use the working GIF image and provide link to the repo. What do you think?

[2020-07-30 19:41] YegorZaremba commented on #30
lemme fix #31 and when we landed on chrome webstore, I'll start to promote too :rocket:

Yeah gifs is do a lot clarification of what's going on, awesome idea :+1:

[2020-07-30 20:08] YegorZaremba opened #32 "Filter nsfw images smaller than 64px"
## Expected Behavior

Filter nsfw images smaller than 64px

## Current Behavior

Nothing is filtered

## Possible Solution

Dunno, but [scope is here](https://github.com/navendu-pottekkat/nsfw-filter/blob/master/src/content.js#L30)

[2020-07-31 09:36] YegorZaremba commented on #6
Closed as duplicate #2

[2020-07-31 15:37] ClayMav commented on #17
Alternative approach could be to consider this extension not so much as a parent, blocking access to sites with adult content, but just as a way to not have to see the content (so often)

Under that idealogy, instead of halting the user, we could pop it from the extension icon as a warning that doesn't need to be dismissed just to let them know

[2020-07-31 15:40] navendu-pottekkat commented on #17
@abhirammltr This looks like a good idea. Could we try something like this in the popup you are currently building?

[2020-07-31 15:49] YegorZaremba commented on #17
Yeah, same thought, I dont like when sth told me what to do, and also I dont like all these parent relative app with PINs and etc
I suggest to sth like Google/Youtube/Twitter ![](https://help.twitter.com/content/help-twitter/ru/using-twitter/url-shortener/_jcr_content/yang/image.img.png/1511833039973.png)

with 2 options `go back` and `stay on page`

[2020-07-31 15:53] ClayMav commented on #17
I think the reason Google, Twitter, and Facebook do that is because they don't protect their users on those pages, and that's where this extension differs. Ideally it should be safe to even look on many porn sites with the extension installed

[2020-07-31 15:56] YegorZaremba commented on #17
Exactly! It definitely what I want (as you see I'm not a creator of this issue :smile: )

[2020-07-31 16:22] navendu-pottekkat commented on #17
@ClayMav @YegorZaremba So could we drop the alert idea and go with this instead?

[2020-07-31 16:29] YegorZaremba commented on #17
I dont want see any alerts, cause its easy, just alert whole page and dont allow user to see any stuff. I would like that this extension do more focus on ML model and filtering. Upvote for drop alert idea

[2020-07-31 16:32] navendu-pottekkat commented on #17
@YegorZaremba this idea right? I upvote

[2020-07-31 16:39] YegorZaremba commented on #17
I upvote but with ability to turn off this popup in popup menu :D

[2020-07-31 16:59] YegorZaremba commented on #32
taken

[2020-07-31 17:06] navendu-pottekkat opened #35 "Extension is slowing down page load on https://pr0gramm.com/"
## Expected Behavior

* The extension should not cause any lag and with our testing, **it does not cause any lag**. Need to test if this is a legitimate issue.

* Smaller images should also be checked.

## Current Behavior

One user tested the extension out on a German imageboard https://pr0gramm.com/ and found that using the extension is causing the page to load significantly slower.

Also, the s

[2020-07-31 17:09] YegorZaremba commented on #35
Got it, what about you? do have some lags on this website?

[2020-07-31 17:15] navendu-pottekkat commented on #35
I don't find it laggy though. Like I don't think we are the reason for the slow load. Like it works on Google Images perfectly right? Even if we keep scrolling.

Anyway, we will keep it open and see if anybody else is having any issues.

[2020-08-04 20:53] YegorZaremba opened #36 "Migrate repository from JavaScript & Parcel to TypeScript & Webpack"
TypeScript adds static typing for JavaScript, a dynamically typed and interpreted language. This significantly improves the maintainability and quality of the code.

[2020-08-05 11:43] navendu-pottekkat commented on #36
@YegorZaremba are you taking it? If not you can add the help wanted label.

[2020-08-05 11:49] navendu-pottekkat commented on #35
I have tested the extension on multiple sites for a couple of days. Apart from the initial lag as mentioned in #19 there does not seem to be any performance issues. The additional lag on the site https://pr0gramm.com/ might be because of the XHRs as mentioned by the user.

If anybody is facing any issues, comment below.

[2020-08-05 12:00] navendu-pottekkat commented on #19
We are getting some coverage on social media. And this lag could be a turn off for some of the users. Although it may work on things like social media sites where NSFW images may occur not that frequently. But the users test them on Google Images and sites like that and although the extension works, the initial lag may be an issue. It could defy the purpose of the extension.

Link: https://www.app

[2020-08-05 12:42] YegorZaremba commented on #19
Related solution:
- https://stackoverflow.com/a/43245774/10432429

Moved to v1.0.0

[2020-08-05 13:12] navendu-pottekkat commented on #19
I really do not know how it got there. Maybe because of Product Hunt and the Javascript community

[2020-08-05 13:23] navendu-pottekkat commented on #19
What will we change, `document.readyState`? before the `EventListner`?

[2020-08-05 13:37] YegorZaremba commented on #19
Dunno yet, just possible solution

[2020-08-06 18:17] #19 closed

[2020-08-06 18:17] #32 closed

[2020-08-06 18:34] YegorZaremba opened #38 "Add caching for recently filtered images"
When I go to some page filter check images, after that if I return to the same page, the filter will check images again
So it would be great if we start caching images URLs and prediction result for recently visited pages

Lets store links and true/false results in `Map` on `content script` side. Max Map size is 100-200 URLs, Cache type `LRU`

[2020-08-06 18:40] YegorZaremba commented on #25
Do we have any updates?

[2020-08-07 05:33] navendu-pottekkat commented on #25
It is still in review. Maybe because we have so many permissions. They said that it could take a month and this seems the only way to land the extension on the store. I will update when we get a reply. We might have to resubmit after changing the permissions.

[2020-08-07 11:55] YegorZaremba opened #40 "Adding support for Safari browser"
Recently Apple [announced](https://developer.apple.com/videos/play/wwdc2020/10665/) that Safari adding support for JavaScript extensions on MacOS

It would be great to port our filter to Safari

[2020-08-07 14:29] navendu-pottekkat opened #41 "Add a landing page"
Add a landing page for our extension. A simple one-page website should be enough.

Currently, the default README file in docs/ folder is used for creating the website.

Should we add this?

[2020-08-07 14:30] navendu-pottekkat commented on #41
@YegorZaremba What do you think?

[2020-08-07 14:51] YegorZaremba commented on #41
Yeah, why not, more links and references => more percentages for [pageRank](https://en.wikipedia.org/wiki/PageRank) algorithm => more users. For domain we can use [github pages](https://pages.github.com/)
Do you would like to do it?

[2020-08-07 14:53] navendu-pottekkat commented on #41
@YegorZaremba I will take it. But to make it better we have to get a new domain. currently it is navendu.me/nsfw-filter. Is this enough or should we get a new one?

[2020-08-07 15:02] YegorZaremba commented on #41
I mean its better to use default free `github pages` url like `http://username.github.io/repository` (`http://navendu-pottekkat.github.io/nsfw-filter`) because it already a `github.io` domain which is more ranked than our any new domain

[2020-08-07 15:05] navendu-pottekkat commented on #41
but http://navendu-pottekkat.github.io is navendu.me

[2020-08-07 15:11] YegorZaremba commented on #41
Get it, okey, so Im fine with any domain :smile:

[2020-08-07 15:23] navendu-pottekkat commented on #41
Like should we add nsfwfilter.com or something like that? They also get good SEO rank

[2020-08-07 15:38] YegorZaremba commented on #41
Not sure about availability/price of any domain like that, but why not, we can try to find good one

[2020-08-09 08:39] lusseyarmet opened #43 "Which nsfwjs model does this extension use? What is the NSFW % Threshold? (If there is one)"
Does anyone know which model (from https://github.com/infinitered/nsfwjs ) this extension uses? Because on https://nsfwjs.com/ there are three models, each with different results (the larger "huge" one being more accurate from what i can tell, even if it says it's the same % accuracy).
And what's the threshold % for being NSFW? Is it different if it gets classified as "sexy", "porn" or any of the

[2020-08-09 09:21] YegorZaremba commented on #43
Hi @lusseyarmet thanks for contribution
please @navendu-pottekkat ask about model
We mark content as nsfw is top category includes `sexy, porn or hentai` you can see it [here ](https://github.com/navendu-pottekkat/nsfw-filter/blob/master/src/background.js#L62). But we plan to adjust percentages for it
`nsfw-filter` is under development right now, hope we will finish in next week

[2020-08-09 09:43] navendu-pottekkat commented on #43
Hi @lusseyarmet ,

We use the **MobileNet V2** model that is available from [**here**](https://github.com/gantman/nsfw_model).

We are using the **MobileNet V2** version because it is ***lightweight*** and that is a core criterion for being able to run smoothly in the browser.

The original Inception model may be too laggy on some systems. If you have any suggestions on this model or a quantized v

[2020-08-10 10:44] YegorZaremba opened #44 "Change License to MIT"
I have no idea what's the difference between these licences, but most github repos use `MIT License`
Do we have any reasons to use `GPL-3.0 License`?

[2020-08-10 11:09] navendu-pottekkat commented on #44
@YegorZaremba I used GPL because if this code is used by somebody, then they have to make it open-source.

I did not want anyone to "privatize" it.

GPL requires if a distributed software uses this code, then it has to be made open-source.

MIT software does not have any such restrictions.

Is there a reason why you wanted to change the License? 🤔

[2020-08-10 11:10] navendu-pottekkat commented on #44
https://stackoverflow.com/questions/3902754/mit-vs-gpl-license

[2020-08-10 11:24] YegorZaremba commented on #44
Okey, just would like to know why we use this one

lmao, no actually

[2020-08-10 11:24] #44 closed

[2020-08-10 12:09] navendu-pottekkat commented on #44
I usually use MIT license idk why I went with GPL. But it works out!

[2020-08-13 06:27] navendu-pottekkat opened #45 "Transfer ownership to NSFW Filter organisation"
Transferring Ownership to NSFW Filter GitHub Organisation for easy code management.

[2020-08-13 06:36] navendu-pottekkat commented on #45
Done! @YegorZaremba

[2020-08-13 06:36] #45 closed

[2020-08-15 17:56] navendu-pottekkat commented on #43
@lusseyarmet Could you suggest what we should add in the description?

[2020-08-19 20:01] YegorZaremba commented on #25
Landed https://chrome.google.com/webstore/detail/nsfw-filter/kmgagnlkckiamnenbpigfaljmanlbbhh?hl=en

[2020-08-19 20:01] #25 closed

[2020-08-19 20:03] YegorZaremba commented on #30
Looks like v1.0.0 is done

[2020-08-19 20:03] #30 closed

[2020-08-19 20:04] #17 closed

[2020-08-19 20:07] YegorZaremba commented on #35
Tested
I have some lags because there are a lot of images, but every image is analyzed
Seems like just performance improvement

[2020-08-19 20:07] #35 closed

[2020-08-19 20:08] YegorZaremba commented on #43
Closed. Inactive for 10 days

[2020-08-19 20:08] #43 closed

[2020-08-20 06:22] navendu-pottekkat commented on #30
I did not get notified when the published it in the Chrome Store

[2020-08-20 06:23] navendu-pottekkat commented on #25
I did not know that they published. They could have sent a mail

[2020-08-21 11:02] YegorZaremba opened #46 "Filter div with backgorund image"
#### Bug description
If page has `div` element with `background-image`, we should filtered it too

[code]

#### Expected result
Should be filtered

#### Actual result
Nothing is filtered

[2020-08-23 13:16] YegorZaremba opened #49 "Redundant analyze of duplicates"
#### Bug description
Lets say website has 2 or more images with same url, like avatar: main image, small image for comment section and etc. We analyze same image link twice or more. Lets get rid of redundant work to reduce time of filtering whole page

#### Expected result
Image analyzed twice

#### Actual result
Image analyzed once

[2020-08-23 18:39] #46 closed

[2020-08-23 22:45] Zopieux opened #52 "Reverse filtering ie. only nsfw images"
#### Is your feature request related to a problem? Please describe.
Not a problem, just a thought. Following up on #2, would it be possible to add a toggle so the extension *only shows NSFW content*? That could come in handy to hide all the crap on some sites.

#### Describe the solution you'd like
An opt-in option to reverses the filtering ie `if (nfsw)` → `if (!nsfw)`. The rest remains untouched

[2020-08-24 02:06] bradydowling opened #53 "DeepFakes clean images"
#### Is your feature request related to a problem? No.

#### Describe the solution you'd like
Usage of DeepFakes type changes to an image but to clothe people.

#### Describe alternatives you've considered
N/A

#### Additional context
N/A

[2020-08-24 06:24] navendu-pottekkat commented on #53
Currently, the ML model used just can classify the images as NSFW or not. It cannot localise or detect what exactly is the NSFW part. Maybe with an another model we can try.

[2020-08-24 06:26] navendu-pottekkat commented on #52
@Zopieux Aha! Although that is out of the scope of this project, you can do that by just changing an if statement. But I guess we won't be adding that in here.

[2020-08-24 06:26] #52 closed

[2020-08-24 07:20] #49 closed

[2020-08-24 12:10] bradydowling commented on #53
Makes sense. This would definitely not be a first issue kind of thing. It would require significant changes but just thought I'd mention the idea.

[2020-08-24 12:46] navendu-pottekkat commented on #53
@bradydowling Any and all ideas are great. We can think of something like this after we have fixed everything with this. Maybe we can train a new model but that requires a lot of resources. So this could be something we can look at in the future.

@all-contributors please add @bradydowling for ideas

[2020-08-24 13:04] navendu-pottekkat opened #56 "Update project tree and improve docs"
The project tree is outdated and after v1.2.0 release is ready, update the tree.

[2020-08-24 13:06] navendu-pottekkat opened #57 "Change icon"
Update icons in the extension package and in product pages.

[2020-08-24 13:36] YegorZaremba commented on #56
I think `project tree` and`dependencies` are redundant info, I would like to get rid of them and make some [diagrams](https://www.google.com/search?q=UML+diagrams&newwindow=1&client=ubuntu&hs=bKv&channel=fs&sxsrf=ALeKk03o0Nrcobc9kky5ZQIBc-Xk8OvhxQ:1598275792564&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjynfmm-bPrAhXGxIsKHSNPDc0Q_AUoAXoECA8QAw&biw=1848&bih=913) which describes how parts of `nsfw-filter`

[2020-08-24 13:39] navendu-pottekkat commented on #56
@YegorZaremba What kind of diagrams do you mean?

[2020-08-24 13:41] navendu-pottekkat commented on #57
@YegorZaremba I will share the icon in different sizes

[2020-08-25 10:17] bradydowling opened #58 "Ability to choose filter strictness"
#### Is your feature request related to a problem? Please describe.
No.

#### Describe the solution you'd like
The extension could have a setting which is a scale, for example 1-100, that allows you to set how strict the filter should be. I believe the process that classifies an image as NSFW also has a confidence rating on it so you could basically allow users to choose how confident they'd like

[2020-08-25 10:35] navendu-pottekkat commented on #58
@bradydowling That seems like a good idea. Currently, we are not considering the confidence level and only checks if the top prediction is considered as NSFW(porn, hentai, sexy). We could definitely look into this. @YegorZaremba what do you think?

[2020-08-25 10:36] YegorZaremba commented on #58
Hi @bradydowling thanks for contributing

Yeah I also think about it, its definitely one of the thing which we should add

@navendu-pottekkat What do you think about adding simple adjust bar in `popup` menu for `v1.2.0`?

[2020-08-25 10:40] navendu-pottekkat commented on #58
@YegorZaremba We can leave that for v1.3.0, I think since we have to get v1.2.0 out there especially for Chrome since it is in v1.0.0 right now. So I think the popup would be best for the next release. We can also look into a good design for the popup. But I really like this idea and we should implement it

[2020-08-26 04:11] garfieldbanks opened #60 "failed to hide images"
#### Bug description

failed to hide all nsfw images

#### Expected result

all nsfw images should be hidden

#### Actual result

some nsfw images were not hidden

#### Steps to reproduce

1. go to bing.com
2. search for "nsfw"
3. click images
4. turn off safe search
5. scroll down to find images that were not properly hidden by the extension

#### Context

i like the idea of the extension and wou

[2020-08-26 05:16] TitusRobyK commented on #60
This is an Invalid bug or unable to replicate the issue

[2020-08-26 05:17] TitusRobyK commented on #60
![image](https://user-images.githubusercontent.com/32787952/91258241-8cfabd80-e789-11ea-91c3-76e4f54b91bc.png)

[2020-08-26 05:19] garfieldbanks commented on #60
you need to scroll down

i would post a screenshot, but ya know it's nsfw

[2020-08-26 05:21] TitusRobyK commented on #60
![image](https://user-images.githubusercontent.com/32787952/91258444-f8dd2600-e789-11ea-870f-40fc0edc0410.png)
Nope , still not happening

If you notice the scroll bar , its small

[2020-08-26 05:25] garfieldbanks commented on #60
this is the first one that i see (there are many more):
th.bing.com/th/id/OIP.djsoeg1Wo3uOQAY4TI2zKgHaEK?w=194&h=109&c=7&o=5&pid=1.7

[2020-08-26 05:26] navendu-pottekkat commented on #60
@garfieldbanks Could you check if the extension is turned on by navigating to ```chrome://extensions/```?

[2020-08-26 05:26] garfieldbanks commented on #60
it blocks most of them so i know it is working

[2020-08-26 05:27] TitusRobyK commented on #60
@garfieldbanks
tried the URL that you provided

![image](https://user-images.githubusercontent.com/32787952/91258799-da2b5f00-e78a-11ea-8e37-16b43a165000.png)

[2020-08-26 05:27] garfieldbanks commented on #60
so the bug is that when i installed this extension from the chrome app store, some of the images don't get blocked

[2020-08-26 05:28] garfieldbanks commented on #60
Can I provide any more information to help?

[2020-08-26 05:29] garfieldbanks commented on #60
yes it is enabled

[2020-08-26 05:45] navendu-pottekkat commented on #60
@garfieldbanks We have the 1.0.0 version in Chrome. We will release the 1.2.0 version tomorrow. But that should not affect the image blocking. I think it may have to do with the fact that in the earlier versions, we excluded smaller images. But it was fixed in version 1.1 and it was not made available in Chrome as it took a long time for it to get reviewed in the webstore.

But with tomorrow's rel

[2020-08-26 05:46] garfieldbanks commented on #60
oh sorry i just assumed had the latest version cause i just downloaded it

[2020-08-26 05:47] garfieldbanks commented on #60
ill try again tomorrow when the new release comes out

[2020-08-26 05:48] navendu-pottekkat commented on #60
@garfieldbanks I am thinking that maybe the issue. I tried it with the version from Chrome store and it was not filtered. I will check with the latest version.

[2020-08-26 05:51] navendu-pottekkat commented on #60
You can install from source and try it now. The master branch is at v1.1.0 but I guess it is better to wait till tomorrow.

[2020-08-26 05:54] navendu-pottekkat commented on #60
It could be also that the model may have failed to classify the image as NSFW. It is prone to errors but it has 90% + accuracy

[2020-08-26 05:55] navendu-pottekkat commented on #60
@all-contributors please add @garfieldbanks for bug

[2020-08-26 05:55] navendu-pottekkat commented on #60
@all-contributors please add @TitusRobyK for bug

[2020-08-26 05:58] navendu-pottekkat commented on #60
@all-contributors please add @TitusRobyK for bug

[2020-08-26 05:59] garfieldbanks commented on #60
I tried to install it by from source but it has errors:
![image](https://user-images.githubusercontent.com/12904270/91266625-e2ee4780-e72e-11ea-9359-68b23aff239d.png)

It also fails a lot more than the 1.0 version did when I test it on bing.

[2020-08-26 06:01] garfieldbanks commented on #60
Here's my log of the commands to build:
![image](https://user-images.githubusercontent.com/12904270/91266834-4a0bfc00-e72f-11ea-8493-391a4f7c94ac.png)

[2020-08-26 06:02] navendu-pottekkat commented on #60
These errors are from TensorFlow and since the extension is in development mode, it is shown. It should not be a problem. But the model performance should not be affected by this.

@YegorZaremba What do you think?

[2020-08-26 06:02] navendu-pottekkat commented on #60
This looks okay

[2020-08-26 06:03] garfieldbanks commented on #60
oh wait i forgot to switch to the dev branch lol

[2020-08-26 06:03] garfieldbanks commented on #60
gimme a sec and ill try again lol

[2020-08-26 06:04] navendu-pottekkat commented on #60
Wait, don't switch it is still under development

[2020-08-26 06:06] navendu-pottekkat commented on #60
I tried it with bing apparently the first few images are not being filtered. After I scroll down, it is working. And the images that are not filtered are obvious and should be filtered, this is a bug

[2020-08-26 06:06] garfieldbanks commented on #60
ok yeah neither branches work for me, both have errors and fail to block all the images

[2020-08-26 06:14] navendu-pottekkat commented on #60
It is working but there is some issue with checking on some images. To be precise, from the 5th image to some 10 more images, the filter is not being applied. This is really strange. But the extension is working perfectly in Google Images.

[2020-08-26 10:31] YegorZaremba commented on #60
Hi @garfieldbanks and @TitusRobyK thanks for contributing, we changed our whole codebase by moving to TypeScript, so there are some bugs, I ll check it and fix for today(hope :D). I ll ping you in this issue

OMG, I broke our MutationObserver, will fix asap

I really appreciate people who find bugs, it most valuable for us right now <3

[2020-08-27 20:07] #57 closed

[2020-08-28 18:33] YegorZaremba opened #69 "Setup auto-update for Firefox"
#### Bug description
Setup auto-update for Firefox https://extensionworkshop.com/documentation/manage/updating-your-extension/

#### Expected result
Firefox auto-updates the extension

#### Actual result
Firefox doesn't auto-update the extension

[2020-08-28 18:37] YegorZaremba commented on #31
I guess we have done because of `v1.2.0`

[2020-08-28 18:37] #31 closed

[2020-08-31 06:57] YegorZaremba commented on #60
Hi @garfieldbanks @TitusRobyK we have released `v1.2.0` with bug fixes. It's already available in chrome webstore https://chrome.google.com/webstore/detail/nsfw-filter/kmgagnlkckiamnenbpigfaljmanlbbhh

I closed this ticket if bugs left, pls feel free to ping me to reopen

[2020-08-31 08:21] garfieldbanks commented on #60
@YegorZaremba
As far as I can tell the 1.2.0 version on the chrome webstore doesn't seem to work at all.

[2020-08-31 08:24] navendu-pottekkat commented on #60
@garfieldbanks I have tested it and it is working! Could you provide more info?

[2020-08-31 08:31] YegorZaremba commented on #60
You still use chrome 85 and windows 10? I didn't test on this platform, but macOS and chrome doesn't work too, otherwise macOS and firefox works pretty well, dunno yet what's happens

[2020-08-31 08:38] garfieldbanks commented on #60
Yep.

[2020-08-31 08:40] garfieldbanks commented on #60
OK I uninstalled and reinstalled it and it's partially working again. But yeah there are still quite a few bing results unblocked.

[2020-08-31 08:42] YegorZaremba commented on #60
Great, could you please write search words which you use, you can use https://pastebin.com is some words are nsfw-related

[2020-08-31 09:12] garfieldbanks commented on #60
I'm still just using the same steps to reproduce from the original post. Just search bing for 'nsfw', choose images, turn off safe search and scroll down.

[2020-08-31 09:23] YegorZaremba commented on #60
@garfieldbanks thanks, I see, yeap there are some hentai/cosplay-related sexy pictures. Our model current has 93% accuracy in porn/nudes-related images
Seems like its ML model issue I'll create a ticket for this and close yours in 72hr

We appreciate your feedback

[2020-08-31 17:14] YegorZaremba opened #72 "Setup auto-update for Google Chrome"
#### Bug description
Setup auto-update for Google Chrome https://developer.chrome.com/apps/autoupdate

#### Expected result
Google Chrome auto updates the extension

#### Actual result
Google Chrome doesn't auto update the extension

[2020-08-31 17:29] YegorZaremba opened #73 "Refactor lazy loading logic"
#### Bug description
We use redundant logic. Collect all urls in `image.dataset` https://github.com/nsfw-filter/nsfw-filter/blob/master/src/content/Filter/ImageFilter.ts#L86 and send to background worker, if `image.src` is non NSFW, we analyze all urls in `dataset`

#### Expected result
When image is changed `src`(google images, bing images) attribute we should predict new `src url`. We can use `o

[2020-08-31 17:39] YegorZaremba opened #74 "Add timeout to analyze image"
#### Bug description
When we send image to backgound script, we wait until its done. But what if it takes too long? 30 seconds? 1 minute?
Lets set `10 sec` timeout for this case. Use `Promise.race` to get it done

#### Expected result
Timeout after 10second of analyzing

#### Actual result
Waiting as long as image is predicting

[2020-09-01 13:10] Glitchy-Pixel-Gun-3d-Devs opened #75 "NSFW"
I'm always frustrated when I want to report NSFW and if I show the screenshot the NSFW will be blank.

A solution is to Put an option where NSFW Content will have the "NSFW" in bold white.

Thanks.

[2020-09-01 13:14] navendu-pottekkat commented on #75
I see, so we replace the image with a watermark of some kind that says the image is NSFW. Is that what you mean? @Glitchy-Pixel-Gun-3d-Devs

[2020-09-01 14:14] lusseyarmet opened #76 "How to know when the filter is done displaying the SFW images?"
#### Is your feature request related to a problem? Please describe.

It's not really a feature request and not a bug either, but here's my issue/question.
I'm using this extension in tandem with VBA and Selenium Webdriver in Chrome (using the newly released extension on the store) to make sure I'm not taking into account nsfw images when running my macro. The issue is that it usually takes the fil

[2020-09-01 14:18] navendu-pottekkat commented on #76
@YegorZaremba Can help you with this.

[2020-09-01 14:48] YegorZaremba commented on #76
Hi @lusseyarmet . Thanks for sharing for the use case of NSFW-filter. We don't have this variable, but you can add `image._isNSFW = true` here https://github.com/nsfw-filter/nsfw-filter/blob/master/src/content/Filter/ImageFilter.ts#L37 and here https://github.com/nsfw-filter/nsfw-filter/blob/master/src/content/Filter/ImageFilter.ts#L58
And `npm run build` for your Chrome and Selenium (dunno is it

[2020-09-01 14:50] YegorZaremba commented on #75
Hi, thanks for contributing
Duplication of #2

[2020-09-01 14:50] #75 closed

[2020-09-01 14:56] navendu-pottekkat commented on #2
@YegorZaremba Should we add the watermark feature?

[2020-09-01 14:59] YegorZaremba commented on #76
We have very simple logic https://github.com/nsfw-filter/nsfw-filter/blob/master/src/content/Filter/ImageFilter.ts#L60 and https://github.com/nsfw-filter/nsfw-filter/blob/master/src/content/Filter/ImageFilter.ts#L39 right now

But it'll be better to add `element._isNSFW = true | false` variable for informational reasons, you can build and load(not sure) in your chrome & selenium extension with the

[2020-09-01 15:02] YegorZaremba commented on #2
Yeap, like option(maybe even default choice) in the popup, but we need a design for watermark

[2020-09-01 15:08] navendu-pottekkat commented on #2
@YegorZaremba ask for help "help wanted" maybe? This could also be a good first issue

[2020-09-01 15:13] YegorZaremba commented on #2
Sure, thanks)

[2020-09-01 16:17] lusseyarmet commented on #76
But is there a way to know when the script is done? Here's an example, say I load a page with 20 images that include 5 nsfw images.
The images are hidden as soon as I load the page, and then if I wait 500 milliseconds 15 images will be displayed.
However, if I only wait say 200 milliseconds, not all safe images will be displayed, maybe 10 will be displayed for example. And then after 100-300 milli

[2020-09-01 16:27] YegorZaremba commented on #76
We use `MutationObserver` to watch mutations of DOM elements https://github.com/nsfw-filter/nsfw-filter/blob/master/src/content/DOMWatcher/DOMWatcher.ts#L84

Not sure that there are any reasons for implementation, but if so our implementation would be like "wait 5 seconds, if there aren't new mutations - filtering is done(scrolling? lazy loading?)"

you are welcome)

[2020-09-02 17:39] lusseyarmet opened #77 "Ability to change models somewhat easily?"
#### Is your feature request related to a problem? Please describe.

Could someone explain how I (or anyone else) could change the model the extension uses?
I have a pretty decent computer and I've found I get way better results with the "HUGE" Inception V3 Model than with the normal one when I use https://nsfwjs.com , especially when I try to filter smaller pictures. So I'd expect to also get bet

[2020-09-02 17:55] #76 closed

[2020-09-02 18:07] navendu-pottekkat commented on #77
You can use any model @lusseyarmet You just have to change the files in the `models` folder under `dist/models`

The model has to be of tfjs format. You can convert TensorFlow model to this format.

The MobileNet version is smaller and is under the recommended size by TensorFlow, you can change it suit your needs.

[2020-09-03 15:38] Woctor-Dho opened #78 "Blocked Images Counter"
#### Is your feature request related to a problem? Please describe.
There is currently little feedback to the user as to how many/where modifications are made to the page.

#### Describe the solution you'd like
A counter to show the number of blocked images.
Example: uBlock Origin shows the number of items on the page blocked.
![image](https://user-images.githubusercontent.com/25572322/92135096-de

[2020-09-03 15:43] YegorZaremba commented on #78
Hi @Woctor-Dho great idea, thanks for contributing
We already have a variable for this https://github.com/nsfw-filter/nsfw-filter/blob/master/src/content/Filter/ImageFilter.ts#L37
On hold until `popup` design is done

[2020-09-03 15:59] YegorZaremba commented on #78
Agree UX +1, we show the number of blocked images for the website in the active tab, because we don't store this data anywhere

But if talk about the total amount of blocked images - popup is the best place(and we store this data)

[2020-09-03 16:28] YegorZaremba opened #79 "Create design for popup page"
It will be great to have a design in Figma.com so we can quickly edit future changes

What should be in the popup?
1. [Logo](https://github.com/nsfw-filter/nsfw-filter/tree/master/dist/images), `NSFW Filter` title
1. Bar to adjust the strictness of filtering #58
1. Dropdown menu to select type how to filter images: a watermark(cover NSFW image with [logo](https://github.com/nsfw-filter/nsfw-filter

[2020-09-03 16:38] navendu-pottekkat commented on #78
I think the number of blocked images in the active pages is enough right? What do you think @Woctor-Dho ?

[2020-09-03 16:39] navendu-pottekkat commented on #79
@YegorZaremba Yeah, we could do something like this. Let us see if we get any contributors to help us out with this.

[2020-09-03 16:50] Woctor-Dho commented on #78
@navendu-pottekkat I agree, the number for the active page would be ideal. Although the all-time total is a cool stat, current page is more useful (as a badge) for quick, at-a-glance feedback to the user. This would also be more intuitive as showing current page stats is a common behavior among many extensions.

[2020-09-03 16:54] navendu-pottekkat commented on #78
Yeah, so the best way to do would be to add a badge that shows images blocked in the active tab and we can add a popup with the total lifetime block as some stats and add some settings for the user(watermark etc) What do you think? @Woctor-Dho @YegorZaremba

[2020-09-03 17:05] YegorZaremba opened #80 "Update NSFW model to increase accuracy"
Right now we use [nsfw-model](https://github.com/nsfw-filter/nsfw_model) v1.0.0
But there are [two more versions](https://github.com/nsfw-filter/nsfw_model/releases), needs to update to the last one and test its performance

[2020-09-04 06:58] YegorZaremba commented on #60
Splitted this issue to #80 and #73

[2020-09-04 06:58] #60 closed

[2020-09-05 11:32] hsusanoo opened #81 "Some things are getting broken on Reddit and Twitter"
#### All **Reddit** posts' content are hidden, except for images, videos and awards icons :
![image](https://user-images.githubusercontent.com/35850056/92303956-afeb5580-ef71-11ea-8c7b-1d51ab2a0b0b.png)

#### Twitter videos' controls are hidden
What's expected:
![image](https://user-images.githubusercontent.com/35850056/92304200-b7abf980-ef73-11ea-8a13-7bd2651f5323.png)
What I get:
![image](https:

[2020-09-05 12:00] YegorZaremba commented on #81
Hi @hsusanoo thanks a lot for contributing, I faced with disappearing `controls` on Twitter too
Reddit behaviour probably related: #73

As for Twitter, needs to fix `VideoFilter`

[2020-09-05 13:21] lizhendong128 opened #82 "Something wrong with the notion.so"
#### Bug description

When I open the www.notion.so, many important elements in the pages are not loaded.

#### Expected result

<img width="943" alt="Snipaste_2020-09-05_21-18-09" src="https://user-images.githubusercontent.com/24618122/92305833-5d378b00-efbd-11ea-8128-13a4fa1312e7.png">

#### Actual result

<img width="938" alt="Snipaste_2020-09-05_21-19-06" src="https://user-images.githubusercon

[2020-09-05 13:34] YegorZaremba commented on #82
Hi @lizhendong128 thanks for contributing, really appreciate it

Scope: https://github.com/nsfw-filter/nsfw-filter/blob/master/src/content/Filter/ImageFilter.ts#L26
Probably related: #81

[2020-09-05 14:18] navendu-pottekkat commented on #81
@all-contributors please add @hsusanoo for bug

[2020-09-05 14:19] navendu-pottekkat commented on #82
@all-contributors please add @lizhendong128 for bug

[2020-09-05 14:21] navendu-pottekkat commented on #78
@all-contributors please add @Woctor-Dho for ideas

[2020-09-05 16:38] YegorZaremba commented on #56
Closed because of lack classification

[2020-09-05 16:38] #56 closed

[2020-09-05 16:42] YegorZaremba commented on #77
Hope we answered your question, if not, please ping me to reopen

[2020-09-05 16:42] #77 closed

[2020-09-10 02:19] miaokun-normal opened #86 "The extension mistakenly broke Notion and Reddit"
#### Bug description
The extension makes Notion inaccessible and Reddit couldn't load properly

#### Actual result
Notion web app went blank, and some parts of the Reddit website are broken

#### Your Environment

* Version used: 1.2.0
* Browser Name and version: Firefox 81.0b8 (64-bit)
* Operating System and version: Windows 10 (64-bit) OS Buil 19041.508

[2020-09-10 04:24] navendu-pottekkat commented on #86
Thanks for sharing @miaokun-normal . We have a similar bug and we are looking into how we can fix this.

Probably similar issues: #81 #82

If you can help us fix it please do so. @all-contributors please add @miaokun-normal for bug

[2020-09-20 19:45] YegorZaremba opened #90 "v1.3.0 Roadmap"
## v1.3.0 Roadmap

**nsfw-filter**
- [x] Create roadmap
- [x] Add a few e2e test-cases
- [x] Add popup #79
- [x] Refactor lazy loading #73
- [x] Add cache #38
- [x] Add strictness bar #58
- [x] Setup auto-updating:
    - [x] Chrome #72
    - [x] Firefox #69
- [x] Update nsfwjs model #80
- [x] Fix all image bugs:
    - [x] `<img>`
    - ~~gif~~
    - ~~webp~~
    - ~~svg~~
    - ~~canvas~~
    - ~~

[2020-09-22 10:17] yezz123 opened #91 "Qst"
Hey!
I wanna ask if this extension can work  in incognito window and in Porn website?

[2020-09-22 13:26] YegorZaremba commented on #91
Hi @yezz123 after installation, you will be prompted about private/incognito mode, or go to extension settings and mark over there
As for porn websites - sure, it works for any porn website with images (videos under development)

<img width="412" alt="Screen Shot 2020-09-22 at 4 21 58 PM" src="https://user-images.githubusercontent.com/31797554/93887726-be669a80-fcef-11ea-8fce-2639f3eeefef.png">

[2020-09-22 13:38] #91 closed

[2020-09-22 14:06] navendu-pottekkat opened #92 "README suggestions"
Here are some changes I would suggest to the README. @YegorZaremba please check all that you think should be made and connect with me on the Slack Channel.

- [ ] **Add "Featured in Product Hunt" image**-  I think this is necessary because people will easily notice this and being featured makes this project more reputable.

- [x] **Change the "NSFW Filter" text image**- I will make a design with o

[2020-09-22 15:14] YegorZaremba commented on #92
Hi @navendu-pottekkat

we already have this data on the right side

<img width="381" alt="Screen Shot 2020-09-22 at 6 05 10 PM" src="https://user-images.githubusercontent.com/31797554/93900528-2a4fff80-fcfe-11ea-8485-3adc0f8719fd.png">

and according [nsfwjs](https://github.com/infinitered/nsfwjs#table-of-contents), they are not use Licence info on the bottom. Also I think that this info isn't imp

[2020-09-22 15:34] navendu-pottekkat commented on #92
One more stuff I forgot to mention was that the activity diagram is not clear
Do you know of some tool that will allow us to host this diagram someplace else? Because it is not clear in the README

[2020-09-22 19:25] YegorZaremba commented on #41
[Done](https://github.com/nsfw-filter/nsfw-filter.com/commit/45b76879d76b7e1151da7fa5c0f1db3365c3f924)

[2020-09-22 19:25] #41 closed

[2020-09-22 22:39] kitsune7 opened #93 "Almost all images disappearing"
#### Bug description

When this extension is installed in my Chrome browser, almost every image that's not in a header or footer element is getting hidden. It took me a bit of time to figure out that the extension was causing an issue. The issue disappeared as soon as I removed the extension.

#### Expected result

I expect that there are few false positives on images that are hidden.

#### Actual

[2020-09-23 03:26] navendu-pottekkat commented on #93
Hi @kitsune7 Thank you for reporting the bug. There seems to be some issues and we will fix it ASAP for the next release.

[2020-09-23 03:27] navendu-pottekkat commented on #93
@all-contributors please add @kitsune7 for bug

[2020-09-23 04:29] YegorZaremba commented on #93
Hi @kitsune7 thanks for you feedback, related to #58 and #80

[2020-09-24 04:34] wingman-jr-addon commented on #93
It's possible that simply updating (#80) might just solve it, but in case it doesn't...
 I have some related experience and I found a couple things that helped improve my model:

- Add the ability for the plugin to feedback images to the training data, then browse many common websites. This really helped to round out the small icon category.
- Skip filtering images that are below a certain dimensi

[2020-09-24 04:41] navendu-pottekkat commented on #93
I also found some images like posters and logos getting blocked and I think these were not part of the training images. @YegorZaremba what do you think?

We could maybe re-train the nsfw model to include all these from scratch.

@wingman-jr-addon Do you have a better model? We can maybe use it instead

[2020-09-24 05:29] wingman-jr-addon commented on #93
Well I'm kind of a [friendly competitor](https://github.com/wingman-jr-addon/wingman_jr) but mostly I'd just like a good plugin for the world to use. I've been meaning to release the model separately, but feel free to use the TF.js model (CC0 license) in that repo at [this location](https://github.com/wingman-jr-addon/wingman_jr/tree/master/sqrxr_62_graphopt) if you'd like. The key prediction code

[2020-09-24 05:35] navendu-pottekkat commented on #93
@wingman-jr-addon thank you for sharing that. We will check and see how we can add that. You are always welcome to join this project and collaborate with us. You can [join the slack channel](https://join.slack.com/t/nsfwfilter/shared_invite/zt-gt1lgdiv-K2VR~UVUxwaTPWCLSmDiug) to reach out to us directly.

[2020-09-24 05:36] navendu-pottekkat commented on #93
@all-contributors please add @wingman-jr-addon for ideas

[2020-09-24 05:50] YegorZaremba commented on #93
Hi @wingman-jr-addon , checked your repo, amazing work man
Could I ping you when we done with #90 to test v1.3.0 release (approx October 20), cause you have already had exp with familiar project so you can give great feedback

Great idea, but its means that we need full pipeline of model training, not in the recent future I guess. But eventually we'll be here

Yeah, we already skip them https://gi

[2020-09-24 05:58] navendu-pottekkat commented on #93
We can create a pipeline for making the model in the future. I will see how we can build that.

[2020-09-24 06:06] YegorZaremba commented on #93
@navendu-pottekkat Yeah, you can, but it's so huge task for now
I see it like users send images url via extension, after that we clean data and every month(?) we retrain model

https://github.com/nsfw-filter/nsfwjs#more

[2020-09-24 06:08] navendu-pottekkat commented on #93
Maybe this could be v2.0.

I will check it out.

On Thu, 24 Sep 2020 at 11:36, Yegor <3 <notifications@github.com> wrote:

[2020-09-25 14:33] #73 closed

[2020-09-25 18:17] #38 closed

[2020-09-26 07:26] YegorZaremba commented on #93
FYI, Google Drive allow to store GBs of the NSFW data https://support.google.com/photos/thread/17111236?hl=en

[2020-09-27 07:12] navendu-pottekkat commented on #80
I checked the [latest release](https://github.com/GantMan/nsfw_model/releases/tag/1.2.0) of the NSFW model and tried replacing our current model in the `dist/models` file with this model but it does not seem to work. Do we need any changes in the rest of the code?

As far as I know, we point to the `models` folder and load the model using the function. @YegorZaremba You can check by replacing the

[2020-09-27 11:42] YegorZaremba commented on #80
Hi @navendu-pottekkat get it, thanks for testing, I'll check later

[2020-09-27 11:48] navendu-pottekkat commented on #80
@YegorZaremba If it is not an error or due to not making changes in the code, let me know and I will test the model out. But replacing the files is the only thing necessary as far as I know.

[2020-09-27 11:49] navendu-pottekkat commented on #79
@YegorZaremba I will design the popup, could you share your ideas on what should be present in the pop up?

[2020-09-27 12:11] YegorZaremba commented on #79
@navendu-pottekkat sth like this
![Untitled-2020-09-27-1501](https://user-images.githubusercontent.com/31797554/94364643-a4ec9680-00d3-11eb-94ba-43b2701ed963.png)

https://excalidraw.com/#json=5100098803466240,hjLIIOBD3m7p_vovgAljEQ

[2020-09-27 12:18] navendu-pottekkat commented on #79
Thanks, I will make one this week and make PR

[2020-09-27 12:24] YegorZaremba commented on #79
Great, pls don't worry about js logic and building process with webpack, just html layout with styles and fonts (preferably no vendor dependencies)

[2020-09-27 12:26] navendu-pottekkat commented on #79
Yes, I will leave the js implementation to you. Only popup.html for me

[2020-09-29 18:44] Glitchy-Pixel-Gun-3d-Devs commented on #75
Yep (Sorry for LATE reply)

On Tue, Sep 1, 2020 at 2:14 PM Navendu Pottekkat <notifications@github.com>
wrote:

[2020-10-01 07:25] navendu-pottekkat opened #97 "Add hacktoberfest labels to issues"
@YegorZaremba Please add 'hacktoberfest' labels to issues that you think the community can solve. We will share that today.

[2020-10-01 07:41] YegorZaremba commented on #97
Hi @navendu-pottekkat done #72 #69, thank you

[2020-10-01 07:41] #97 closed

[2020-10-02 09:30] malathit commented on #72
Hey I would like to work on this issue.

[2020-10-02 10:09] YegorZaremba commented on #72
@malathit you are so welcome ❤️
ps if get stuck - pls send a PR as is, because no one has googled it yet

[2020-10-02 10:30] malathit commented on #72
I just googled a few links and have some idea on how to do this? But I am not sure if I am on the right track. So sent you a slack message. If you could answer, I can proceed.

[2020-10-02 10:50] navendu-pottekkat commented on #72
@malathit I'm not really sure, cause we have not really looked into this. Could you please share the doc you are referring?

[2020-10-02 10:58] malathi-thangarajan commented on #72
It's the one in the issue description @navendu-pottekkat
https://developer.chrome.com/apps/autoupdate

[2020-10-02 11:00] navendu-pottekkat commented on #72
@malathit I will just check that and get back to you in just a minute

[2020-10-02 11:24] navendu-pottekkat commented on #72
@malathit We are hosting the extension in Google Chrome Webstore but the docs say that -

And [this thread](https://stackoverflow.com/questions/13139627/is-it-possible-to-auto-update-a-chrome-extension-published-on-the-chrome-web-sto) says that you cannot update if you are hosting on the store. You have to use the developer dashboard for that. I think that is because of security concerns.

@YegorZ

[2020-10-02 11:38] lusseyarmet opened #102 "Way to count # of NSFW images instead of hiding/showing them?"
(Not really a feature request but closer than a bug)

Is there a way to simply count the number of images the filter deems NSFW instead of hiding/showing them?

Right now to get the same result, I'm waiting for it to unhide all the SFW images and then count those but basically my goal would be to make the extension count them as soon as the page loads and not change visibility (as that takes the m

[2020-10-02 11:42] navendu-pottekkat commented on #102
@lusseyarmet We are actually working on that feature right now. Check #79

Please check the proposed design there and let us know how we can improve!

[2020-10-02 11:44] navendu-pottekkat commented on #69
This will not work. This is similar to my comment in #72

[2020-10-02 12:12] lusseyarmet commented on #102
@navendu-pottekkat that sounds like a good feature! I'll try to think of some suggestions, this is a great extension.
But as far as I know I wouldn't be able to access / retrieve the count itself if it was only in the badge, right? I'm using VBA and Selenium so my goal is to automate getting the count for a lot of pages to get some data for a chart, and I don't think VBA and Selenium can access th

[2020-10-02 12:20] navendu-pottekkat commented on #102
@lusseyarmet The popup is not working right now but we have a variable that has this value that you can maybe access. @YegorZaremba Could you share that?

[2020-10-02 13:51] YegorZaremba commented on #102
Hi @lusseyarmet

Should works, pls fork repo and change [here](https://github.com/nsfw-filter/nsfw-filter/blob/master/src/content/Filter/ImageFilter.ts#L41) `this.blockedItems` to `window.blockedItems`. I guess after that you can access `window.blockedItems` in your `Selenium` environment

[2020-10-02 15:06] lusseyarmet commented on #102
@YegorZaremba thanks, I replaced all occurences of `this.blockedItems` with `window.blockedItems` in content.js so that should work, right? I'm trying to execute the following script `return window.blockedItems` in VBA / Selenium but it's returning a blank string (not 0) when I try to store the result in a string. Is that the right type of variable to store that?
Could you maybe check to see if th

[2020-10-02 15:48] malathit commented on #72
I don't know about it @navendu-pottekkat. I was participating in the hacktobertest, and wanted to utilize it to improve my knowledge. I am subscribed to this thread and would be happy to pitch in when we come to a conclusion.

[2020-10-02 16:06] YegorZaremba commented on #102
@lusseyarmet sry, I forgot about declaration `window.blockedItems = 0` - put it somewhere, maybe here https://github.com/nsfw-filter/nsfw-filter/blob/master/src/content/Filter/Filter.ts#L14

as you please, but better to store number type

this var works
<img width="322" alt="Screen Shot 2020-10-02 at 7 04 45 PM" src="https://user-images.githubusercontent.com/31797554/94944593-24b69e80-04e2-11eb-99

[2020-10-02 16:25] navendu-pottekkat commented on #72
Sure, we will check and get back to you.

On Fri, 2 Oct 2020 at 21:18, Malathi <notifications@github.com> wrote:

[2020-10-02 16:39] lusseyarmet commented on #102
@YegorZaremba Bit of a stupid question I imagine, sorry, but how do I add the extension to chrome again after editing the files in the _src > content_ folder? Basically, I edited the two files you mentioned after downloading the repo and unzipping it but how do I then use that as a chrome extension? I tried adding the "dist" folder as an unpacked extension since that's where the manifest is but it

[2020-10-02 16:53] YegorZaremba commented on #102
@lusseyarmet pls fork repo, `npm ci` after that `npm run build` and that it

[2020-10-02 17:00] lusseyarmet commented on #102
How could I forget that... my bad. I'm having an issue when running `npm run build`, however. Runs fine at first and then this happens. Those are the two lines are the ones that have "window.blockedItems" in them, the ones I edited.
I'm guessing there's something else I need to edit?

[Link to screenshot](https://ibb.co/WnhS9b3)

[2020-10-02 17:14] YegorZaremba commented on #102
pls add `// @ts-expect-error` above

like
[code]

[2020-10-02 17:55] lusseyarmet commented on #102
I did that, and it worked (I guess it bypassed the errors) but now weirdly enough, the extension itself just doesn't work anymore for some reason, it fails to hide images, nsfw or not (as when loading a page normally the filter hides all images and then only shows the one that are safe, here images are displayed normally, as though the extension wasn't on but it is)
I'm really not sure why, there'

[2020-10-03 07:24] YegorZaremba commented on #102
@lusseyarmet sorry for bug, pls make `git pull` and re-change your logic with `window.blockItems`

[2020-10-03 08:48] lusseyarmet commented on #102
So, just to be clear because I'm unsure what I should or shouldn't do now, is this what I need to do? Since these are all the steps you've told me to do.

0) Download the new version of the code (because of the changes you've made)
1) go to nsfw-filter-master\src\content\Filter
2) Edit Filter.ts so that I get this:
[code]
3) Then edit ImageFilter.ts so that I get this:
[code]
4) run `npm ci` and t

[2020-10-03 09:09] YegorZaremba commented on #102
@lusseyarmet looks great, pls make `git commit` & `git push` to your repo https://github.com/lusseyarmet/nsfw-filter and I'll check it by myself

[2020-10-03 09:58] lusseyarmet commented on #102
Yeah, I think I'll wait until something better comes up or maybe I'll see if the future pop-up can help me in some way because I'm already in way over my head, I'm way too much of a newbie with GitHub and JS for this ^^
Thanks a lot for trying, though! :)

[2020-10-03 10:07] #102 closed

[2020-10-09 02:20] HemanthKumarGadi opened #105 "While video appear in website how it will read that means model will take (process ) video thumbnail or video frames?"

[2020-10-09 04:26] YegorZaremba commented on #105
Hi @HemanthKumarGadi filtering video under development https://github.com/infinitered/nsfwjs/issues/39#issuecomment-685324717

To be honest its even difficult to say how it will work 😄

[2020-10-10 13:40] govza opened #107 "npm run test fails on windows"
#### Bug description
npm run test fails on windows

#### Expected result
tests are run

#### Actual result
HEADLESS=false jest --no-cache
'HEADLESS' is not recognized as an internal or external command,

#### Steps to reproduce
1. npm ci
2. npm run build
3. npm run test

#### Context
Windows doesn'nt recognizes the environment setup

#### Your Environment
Windows 10 pro, node v14.6.0

[2020-10-13 17:38] #80 closed

[2020-10-13 17:39] YegorZaremba commented on #79
Done https://github.com/nsfw-filter/nsfw-filter/pull/110

[2020-10-13 17:39] #79 closed

[2020-10-13 17:54] YegorZaremba commented on #2
done https://github.com/nsfw-filter/nsfw-filter/pull/110 user can choose between `hide` and `blur`

[2020-10-13 17:54] #2 closed

[2020-10-13 17:55] YegorZaremba commented on #105
Related #16

[2020-10-13 17:55] #105 closed

[2020-10-13 18:33] YegorZaremba commented on #53
Hard to implement, wontfix in 2020 and 2021 I guess

[2020-10-13 18:33] #53 closed

[2020-10-14 08:21] YegorZaremba commented on #72
Hi @navendu-pottekkat Is it the way how you publish new version of nsfw-filter? https://developer.chrome.com/extensions/hosting

if so, we are fine

[2020-10-14 08:23] YegorZaremba commented on #69
we are fine https://discourse.mozilla.org/t/autoupdate-for-created-firefox-extension/36340/4

[2020-10-14 08:23] #69 closed

[2020-10-14 08:24] YegorZaremba commented on #72
I guess it similar to with Firefox webstore https://github.com/nsfw-filter/nsfw-filter/issues/69#issuecomment-708244050

[2020-10-14 08:24] #72 closed

[2020-10-14 08:37] navendu-pottekkat commented on #72
Yes, we are using the dev console, so after each version is released, I update it on the dev console and they will verify it and update on the store.

[2020-10-14 12:39] #107 closed

[2020-10-17 13:41] YegorZaremba commented on #74
Done #120

[2020-10-17 13:41] #74 closed

[2020-10-18 10:20] #58 closed

[2020-10-20 10:54] govza opened #124 "Summaries for classes and methods."
I think that code lack of comments (jsdoc) thus hard to understand. Maybe should consider adding them at least for classes and public methods as part of project code-style?

#### Is your feature request related to a problem? Please describe.
Hard to understand what code does.

#### Describe the solution you'd like
JSDoc classes and public methods.

[2020-10-20 11:00] YegorZaremba commented on #124
Great Idea!
For start I recommend:
- [Model](https://github.com/nsfw-filter/nsfw-filter/blob/master/src/background/Model/Model.ts)
- [LRUCache](https://github.com/nsfw-filter/nsfw-filter/blob/master/src/background/Model/LRUCache.ts)
- [ConcurrentQueue](https://github.com/nsfw-filter/nsfw-filter/blob/master/src/background/PredictionQueue/ConcurrentQueue.ts)
- https://github.com/nsfw-filter/nsfw-fil

[2020-10-23 12:01] YegorZaremba opened #131 "Add Web Workers to background script"
**For v1.5.0+**

What if background script has additional web workers?

![image](https://user-images.githubusercontent.com/31797554/97001088-7631d680-1540-11eb-99a1-74825f17cdc2.png)

[2020-10-25 09:08] YegorZaremba opened #138 "Handle error in loading queue while tab url is changed"
How to reproduce(if your PC is fast and you cannot catch this error, reduce speed by x4/x6 in chrome dev tools):

1) Open any webpage with 10+ images
2) When you see that first image is predicted open new page in same tab and same domain url(be careful, you don't need to re-create tabId)
3) Old images were removed from queue and new images were added. But we already have at least one image in `loa

[2020-10-25 10:20] YegorZaremba opened #139 "[Memory leaks] Drops in DOM Nodes and JS listeners"
Check DOM Nodes(I guess `new Image()`) and JS event listeners(I guess  `setTimeout`) for memory leaks

![image](https://user-images.githubusercontent.com/31797554/97104363-6642ff80-16c4-11eb-9feb-b07011a78a96.png)

[2020-10-25 11:39] YegorZaremba commented on #90
Hi @navendu-pottekkat, looks like we are ready for `v1.3.0` release

Related issues: #81, #82, #86 and #93

cc @govza

[2020-10-25 12:57] navendu-pottekkat commented on #90
@YegorZaremba Yes, I will test it out. We will plan the release after some extensive testing for a couple of days. We should release by the end of the month right?

[2020-10-25 13:35] YegorZaremba commented on #90
@navendu-pottekkat I would like to do it today/tmrw 'cause moderation of chrome webstore takes ~5 days

[2020-10-25 13:36] navendu-pottekkat commented on #90
I am testing it out currently. I will submit the extension to Chrome today itself.

[2020-10-25 13:39] YegorZaremba commented on #90
Nice to hear it, thanks
Could you pls say a couple words about filtering speed/performance, how does it work on your machine?
ps. don't forget about mozila webstore (just to remember)

[2020-10-25 13:40] navendu-pottekkat commented on #90
@YegorZaremba One change: In the popup, the model should be MobileNet_v1.1

Should we add links to our Patreon or Open Collective in the popup?

[2020-10-25 13:43] YegorZaremba commented on #90
Get it, thanks

Don't think so, AdBlock doesn't have such kind of links. I don't think about it. Let's discuss about this in the future releases

[2020-10-25 13:45] navendu-pottekkat commented on #90
@YegorZaremba It is working really fast, no issues there. One more suggestion, the show logs checkbox should be aligned to center or justified. I think it would look better, it is up to you. Rest looks really good. Awesome work!

[2020-10-25 13:45] navendu-pottekkat commented on #90
Okay, then we will keep as it is

[2020-10-25 13:46] YegorZaremba commented on #90
😊😊😊 thanks

[2020-10-25 14:07] YegorZaremba opened #144 "v1.4.0 Roadmap"
### Roadmap

- [x] Create roadmap
- [ ] Improve docs:
   - [ ] Update activity diagram #152
   - [ ] Add DOM `attributes` statuses #117
- [ ] Filter raw image data #148
- [ ] Allow users to download different ML models in the popup window #149
- [ ] Preserve site layout until processes complete #151
- [ ] DOM Nodes and JS listeners drops #139
- [ ] Add badge of blocked images #78
- [ ] Handle erro

[2020-10-25 14:25] YegorZaremba commented on #90
Done #145

I plan to add more checkboxes(like beta gif filtering, beta video filtering) in the future. Length of their text is different. I decided to align them to the left

Thanks for feedback :blush:

[2020-10-25 16:01] YegorZaremba commented on #90
@navendu-pottekkat Just published v1.3.0 release :rocket:
https://github.com/nsfw-filter/nsfw-filter/releases/tag/v1.3.0

[2020-10-25 23:25] lusseyarmet opened #146 "Counting Blocked Items (Again)"
Hi again!
Amazing job on the extension, 1.3.0 came out really fast!
However I have one question: reading an older post I was under the impression the extension popup would show # of currently blocked pictures in the active tab, and it seems to be counting the total # of blocked items instead. Just wanted to know if that was on purpose or not.
Also, is that variable still working? Would it be easie

[2020-10-25 23:51] lusseyarmet opened #147 "Less Accurate Model (Less filtered images) in Version 1.3.0 as compared to 1.2.0"
I read that the nsfw model was updated in 1.3.0 which would normally be a good thing since the nsfwmodel creator said it was more accurate but it doesn't seem to be nearly as accurate in my tests.

Looking at the # of images blocked when doing a simple google image search for "porn" using the old 1.2.0 extension that's still available on the Chrome Store, ALL of the actually NSFW images get filter

[2020-10-26 05:20] navendu-pottekkat commented on #90
@YegorZaremba I am updating in the store

[2020-10-26 05:29] navendu-pottekkat commented on #90
I have updated in Firefox store and I will test to make sure that it works and then we will submit to chrome store

[2020-10-26 06:52] YegorZaremba commented on #146
Hi @lusseyarmet we added `data-nsfw-filter-status` attribute to filtered images. Now when page is loaded you should wait for a while(f.e. 5 secs) and after that just call:
[code]

[2020-10-26 07:23] YegorZaremba commented on #147
Hi @lusseyarmet nice to see you :)

So you should `git pull`, change this line of code https://github.com/nsfw-filter/nsfw-filter/blob/master/src/popup/redux/reducers/settings.ts#L21 f.e. lets pick 85% strictness and `npm run build`

Old model has a lot of false positive results (related #93)

[2020-10-26 11:54] lusseyarmet commented on #147
Ah okay, cool! Is there anyway I could change the model myself, though? Can I just delete the existing model and json (in the dist > models folder), then drag and drop the new model .bins and the model.json to that same folder and then run `npm run build` ?
Would that work?

[2020-10-26 11:58] YegorZaremba commented on #147
@lusseyarmet take a look https://github.com/nsfw-filter/nsfw-filter/commit/059e468c6fcba65427d9fcfe335b0b32c52a2e5e
and if you would like to don't use strictness bar

https://github.com/nsfw-filter/nsfw-filter/blob/master/src/background/Model.ts#L76 replace this:
[code]

to old code in v1.2.0 I guess it was 0.5

[2020-10-26 13:18] lusseyarmet commented on #147
So I simply installed the bigger web model and now it works great!
Thanks :)

[2020-10-26 13:18] #147 closed

[2020-10-26 18:58] lusseyarmet commented on #146
That works perfectly! Thanks again.

[2020-10-26 18:58] #146 closed

[2020-10-27 05:47] navendu-pottekkat commented on #90
@YegorZaremba the versions in both Chrome and Firefox are updated to 1.3 When should we start the promotion?

[2020-10-27 07:01] YegorZaremba commented on #90
Wow, so fast for chrome webstore. Does it take only one day?

![Screenshot from 2020-10-27 09-56-50](https://user-images.githubusercontent.com/31797554/97267219-dc697280-183a-11eb-9005-2b5faa6aef47.png)

:rocket: :rocket: :rocket:

Let's take several days for preparation and start on Friday and Saturday, what do yo think?

[2020-10-27 07:02] YegorZaremba commented on #90
Done, closed

[2020-10-27 07:02] #90 closed

[2020-10-27 07:05] YegorZaremba commented on #81
Hi. we have released v1.3.0. It's already available in Chrome and Firefox webstores
Feel free to re-open

[2020-10-27 07:05] #81 closed

[2020-10-27 07:05] YegorZaremba commented on #82
Hi. we have released v1.3.0. It's already available in Chrome and Firefox webstores
Feel free to re-open

[2020-10-27 07:05] #82 closed

[2020-10-27 07:05] YegorZaremba commented on #86
Hi. we have released v1.3.0. It's already available in Chrome and Firefox webstores
Feel free to re-open

[2020-10-27 07:05] #86 closed

[2020-10-27 07:06] YegorZaremba commented on #93
Hi. we have released v1.3.0. It's already available in Chrome and Firefox webstores
Feel free to re-open

[2020-10-27 07:06] #93 closed

[2020-10-27 07:06] YegorZaremba commented on #92
@navendu-pottekkat Can we close it?

[2020-10-27 09:52] navendu-pottekkat commented on #92
@YegorZaremba yes we can close

[2020-10-27 09:52] #92 closed

[2020-10-29 03:22] wingman-jr-addon commented on #131
I remember looking into this a bit for similar reasons. You may find [this Mozilla Discourse thread](https://discourse.mozilla.org/t/using-web-workers-in-extensions/65496) of interest. Looks like [Tensorflow.js supports web workers](https://medium.com/@wl1508/webworker-in-tensorflowjs-49a306ed60aa). Ultimately the WebRequest approach I've taken forces me to do essentially serial scanning, so I end

[2020-10-29 05:10] YegorZaremba commented on #131
Hi @wingman-jr-addon

I thought that `background.js` is a web worker, isn't it? The Chrome documentation is silent about it

I took a look at your realization, it's great approach. Can I steal some your code for `base64` images? Because `MutationObserver` cannot detect them :) But yeah, I feel it, I was surprised when discovered that `MutationObserver` was released only in 2016 o_0

Me too, actual

[2020-10-31 19:05] wingman-jr-addon commented on #131
Glad to hear you've been making some progress!

It's interesting to hear your experiences on the SIMD+CPU angle. I tried switching it on in my plugin and on my home laptop it was pretty good - I didn't measure but maybe a 25% slowdown or less?

By all means, please take whatever base 64 processing code you can. I didn't realize that would even still be an issue with the DOM MutationObserver approa

[2020-11-01 07:42] YegorZaremba opened #148 "Extension doesn't filter raw data images"
[Here is an image url](data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAHoA9AMBIgACEQEDEQH/xAAbAAACAwEBAQAAAAAAAAAAAAADBQIEBgEAB//EADsQAAIBAwMCBQEFBgUEAwAAAAECAwAEEQUSITFBBhNRYXEiFCMygZFCobHB0fAzQ1Jy4QckYvEVFpL/xA

[2020-11-01 09:02] YegorZaremba opened #149 "Allow users to download different ML models in the popup window"
Right now we use quantized mobileNet(3-4Mb) model for image filtering. But some users have free RAM to use [another models](https://github.com/nsfw-filter/nsfw_model#original-inception-v3-model-v10)(20+ Mb).

[2020-11-01 09:17] YegorZaremba commented on #131
Hi @wingman-jr-addon

sure, https://github.com/nsfw-filter/nsfw-filter/issues/148

I'll return to this after https://github.com/nsfw-filter/nsfw-filter/issues/149
After [optimizing image prediction queue](https://github.com/nsfw-filter/nsfw-filter/tree/master/src/background/Queue) we reached pretty fine performance. So my top 1 priority is ML model improvement. I will not train models by myself, j

[2020-11-01 16:32] wingman-jr-addon commented on #131
Well, you're definitely staying busy, that's for sure! There's a lot to unpack in your comment above:

- Base64 not detecting -> moved to #148 . I took a peek and might be worth adding more detail about why it seems to be failing if you know anything more.
- Different ML models available for download -> referenced #149 . I finally got around to splitting off [my model into its own repository](http

[2020-11-04 02:49] famouspotatoes opened #151 "Preserve site layout until processes complete"
Perhaps I am wrong, but it seems like the extension works by blocking/hiding the initial rendering of images until a decision has been made. After that it is either rendered normally or hidden/blurred, depending on settings.

On some sites, like news sites, this does not cause any issue. Just like blocking an ad, the content is still formatted correctly and the user can use the page normally until

[2020-11-04 03:42] navendu-pottekkat commented on #151
Hi, @famouspotatoes thank you for reporting the bug. Could you please share the links to websites where you are facing this issue?

Looping @YegorZaremba to this conversation.

[2020-11-04 07:58] YegorZaremba commented on #151
Hi @famouspotatoes thanks for bug report. Yeah, links and screenshots are so helpful for me

[2020-11-04 12:25] YegorZaremba opened #152 "Update activity diagram"
Our [activity diagram](https://github.com/nsfw-filter/nsfw-filter/tree/master/demo/UML) is out of date

[2020-11-04 12:54] Gother01 opened #153 "filter strictness doesn't appear to work on edge"
the blocked results are the exact same number with no strictness or 100%
used "porn" as the search term on google images
model: mobilenet v1.1
filter effect didn't seem to have any impact on the end results, stayed the same number of blocked elements no matter what.

[2020-11-04 13:18] YegorZaremba opened #154 "Reduce js bundle size of popup window"
Related https://github.com/nsfw-filter/nsfw-filter/blob/master/webpack/webpack.prod.js

[2020-11-04 13:21] YegorZaremba commented on #153
Hi @Gother01 hmmm.. Thanks for your report. Will check it out. Added to v1.4.0

[2020-11-04 14:52] navendu-pottekkat commented on #152
@YegorZaremba Can we make it something a bit more interactive than adding it just to the readme? We have the domain so we can host it in our website. I do not know the specifics but it seems like something we can do.

[2020-11-04 15:06] YegorZaremba commented on #152
Great idea, I'll just add `Documentation` section in `Readme.Development` where put link to https://docs.nsfw-filter.com/

[2020-11-04 15:21] navendu-pottekkat commented on #152
@YegorZaremba  That looks good.

[2020-11-16 06:05] YegorZaremba commented on #151
Hi @famouspotatoes any updates on this?

[2020-11-16 23:27] famouspotatoes commented on #151
Well one other issue I found is on webpages that have carousels that paginate through multiple images. Once one is marked as NSFW, the entire carousel will be blurred/hidden, even if you paginate back to SFW images.

[2020-11-17 06:29] YegorZaremba commented on #151
@famouspotatoes thanks for one more potential bug, could you please write approximate website domains which have buggy behaviour. It helps me a lot to fix it

please

I guess Amazon

We do `img.style.visibility = "hidden"`, so it shouldn't effect on layout, but needs to check on shopping sites

[2020-11-26 18:06] MINORITYmaN commented on #131
Hi there!
I remember, that I had bookmarks from some time ago, and hopefully I found them.
What do you think about these?
https://threads.js.org/
https://gpu.rocks/

Kind regards, Stefano

[2020-11-30 10:04] issuemaker2 opened #155 "using CPU(slow) when intel integrated graphics available"
The extension is not using gpu and using cpu. It takes about 2.5s per image to process, while webGL backend is set to intel graphics. It doesn't happen on [nsfwjs.com](nsfwjs.com).

#### Environment

intel i7-8550u (laptop)

* Version used:
1.3.0(most recent available on each)
* Browser Name and version:
* Operating System and version:
I tried these combinations of Browser/OS :
Firefox nightly(85)

[2020-11-30 11:34] issuemaker2 commented on #155
seems it's problem on firefox, https://bugzilla.mozilla.org/show_bug.cgi?id=1679671
closing

[2020-11-30 11:34] #155 closed

[2020-11-30 12:21] sensitivecereal opened #156 "Performance issue when hiding images"
So I was doing some testing and I found that when hiding ALL images by using Chrome's settings, this extension runs quite a bit slower than when images are displayed but it does still run (as in, it does classify the hidden images and tag them in the html).

Is there a reason for this? Because Selenium runs quite a bit faster when it doesn't have to load images and I wanted to try that out but it'

[2020-12-09 16:30] Gann123 opened #157 "Images"
Most images are being blocked out by the filter
Many images that aren't anything close to NSFW such as pictures of cubes are being blocked out. In fact, most pictures, regardless of what they are, are being blocked out
Only NSFW pictures should be blocked out
Most pictures are being blocked out
Now I can't use chrome with the extension because I can't see pictures but I want the extension so it bl

[2020-12-09 16:34] YegorZaremba commented on #157
Hi @Gann123 thanks for your feedback
Yeah, we'll work on it in v1.5.0
Related: https://github.com/infinitered/nsfwjs/issues/324

[2020-12-13 23:39] Catman847 opened #159 "Hide/block twitter nsfw content on incognito mode (without the need to login)"
#### Is your feature request related to a problem? Please describe.
Extension failed to block nsfw images and videos on twitter when using incognito mode

#### Describe the solution you'd like
Block all nsfw on twitter without login in aka using incognito mode

#### Describe alternatives you've considered
There are no alternatives to the feature I am suggesting, I have looked every where on the in

[2020-12-14 10:57] navendu-pottekkat commented on #159
@Catman847 Did you enable the extension in incognito mode?

You can do it by-

Click the menu button in Chrome.
Navigate to More Tools > Extensions.
In the new tab that opens, scroll through the list to find the extension you want to enable while incognito.
Click details > Click the “Allow in Incognito” button.

[2020-12-15 07:57] #159 closed

[2020-12-20 05:23] navendu-pottekkat opened #160 "User issue: Failing to block images"
Some recent reviews in [Chrome Webstore](https://chrome.google.com/webstore/detail/nsfw-filter/kmgagnlkckiamnenbpigfaljmanlbbhh) say that they are having issues and the filter is failing to block the images. We do not have many details but we need more testing and check if there are bugs.

Screenshot below-

![Screenshot from 2020-12-20 10-47-55](https://user-images.githubusercontent.com/49474499/

[2020-12-20 05:25] navendu-pottekkat commented on #157
@YegorZaremba We need to add one more category of images that are logos, banners and other such social media posts. They are not part of the training data. We will add those when we train our own model.

[2021-01-09 15:13] kiran-collab opened #164 "Another pre trained model onto this plugin"
How to put another pre trained model of mine instead of MobileNet, leaving all features as it is. Do I need to change anything for that? Request to address the query as soon as possible.

[2021-01-09 16:06] YegorZaremba commented on #164
Hi @kiran-collab
Please take a look into this PR https://github.com/nsfw-filter/nsfw-filter/pull/111/files
It shows migration to an another ML model

[2021-01-10 00:50] #153 closed

[2021-01-10 00:52] YegorZaremba commented on #153
@all-contributors please add @Gother01 for bug

[2021-01-13 07:50] kiran-collab commented on #164
@YegorZaremba So I have replaced the  model.json file and its bin files (of my pretrained model) in the models folder.
and then I have again added all the dependencies and run the add on. This time it doesn't work.
Can you please walk me through any other editions to be done!

[2021-01-13 07:55] YegorZaremba commented on #164
hi @kiran-collab

Probably, you should remove `type: graph` [here](https://github.com/nsfw-filter/nsfw-filter/pull/111/files#diff-b11fba3fe7b52728b021cbda8505a4dc695a5606d723001ac8f5ec854402cf17R34)

Recently I updated codebase to tenserflow 2.6.0, maybe it's a reason of the problem, try `1.3.0` tag

[2021-01-16 08:07] kiran-collab commented on #164
@YegorZaremba Hey! The plugin is working. The thing when I am putting another ML model i.e. change the model.json files, I have to add the dependencies. I am really thankful to you! Incase any issues i would ping you!
Btw, do you know of any plugin architecture of this sort that blocks videos in this manner?

[2021-01-16 08:35] YegorZaremba commented on #164
Hi @kiran-collab
Wingman has added some video filtering stuff recently
https://github.com/wingman-jr-addon/wingman_jr/pull/93

[2021-01-19 04:27] wingman-jr-addon commented on #157
I can definitely say that adding that type of vector and vector-like content was quite important in getting my model to a place where I was more happy with it. I kept e.g. blocking avatars and Google doodles and the like; I still block them sometimes but the occurrence has greatly reduced due to feeding in images from my own browsing sessions. @navendu-pottekkat With the way NSFW.js classifies `dr

[2021-01-19 10:15] navendu-pottekkat commented on #157
Yeah, the nsfwjs model basically has the drawing class to distinguish hentai from normal cartoons. Since there are no other categories which has been trained on logos and other vector arts, this model would perform poorly against it. So we would need to retrain the model with those categories too or setup a feedback loop that would constantly improve the model.

The whitelist feature seems like a

[2021-01-19 17:44] yzevm opened #166 "Create whitelist"
NSFW-Filter should skip filtering Google reCAPTCHA, and any other sort of popular reCAPTCH'es

Scope: https://github.com/nsfw-filter/nsfw-filter/blob/v1.3.0/src/content/Filter/ImageFilter.ts#L30
Related: https://github.com/wingman-jr-addon/wingman_jr/issues/84

[2021-01-19 17:48] YegorZaremba commented on #157
Hi @navendu-pottekkat  @wingman-jr-addon great idea, critical logic
I have created ticket https://github.com/nsfw-filter/nsfw-filter/issues/166

Im so sorry guys, I'll be busy in next 1-1.5 months, so I cannot implement it

[2021-01-20 04:09] navendu-pottekkat commented on #157
@YegorZaremba No problem, I have added help wanted label. Let's see if anyone picks it up.

[2021-01-26 20:26] dyaskur commented on #46
Why on v1.3 this code deleted?

[2021-01-26 20:32] dyaskur commented on #46
If it's performance reason, I submitted PR that I think has better performance.

Tested on this link :

https://www.blibli.com/p/women-sexy-bikini-triangle-color-stripe-lace-up-bra-panties-briefs-underwear-set/ic--BLS-60040-47162-00001

[2021-02-02 13:56] navendu-pottekkat opened #168 "Meeting reminder"
@YegorZaremba Reminder: We have meeting in an hour and a half. I hope you received the link.

[2021-02-02 15:02] #168 closed

[2021-02-09 08:20] axilirate opened #169 "Doesn't block on Youtube."
Had issues with this search: https://www.youtube.com/results?search_query=hentai

[2021-02-09 10:14] navendu-pottekkat commented on #169
Thanks @axilirate for sharing that. We are in the process of improving our model to make it more accurate. We will try to account all these and improve the model in our next release.

[2021-03-08 04:48] wingman-jr-addon commented on #164
(As an update, the video work has been merged into master and now been released in 3.0.0!)

[2021-03-10 17:07] user00124573 opened #170 "Images sometimes not blocked on duckduckgo images on Firefox"
#### Bug description
See title

#### Expected result
Most or all the images should be blocked

#### Actual result
None of the images are blocked

#### Steps to reproduce
1. Open Firefox freshly. Ensure duckduckgo does not have cookies and is set to the default of moderate search.
2. Navigate to https://duckduckgo.com/?t=ffsb&q=porn&iax=images&ia=images (must enter url directly, cannot do a search

[2021-03-10 17:34] YegorZaremba commented on #170
Hi @user00124573, it relates to #155
I haven’t figured out how to fix it yet

[2021-03-11 05:18] wingman-jr-addon commented on #170
@YegorZaremba As a quick and dirty test, you can just flip the bit in the tf.js minified file to see if it fixes it. Look for `failIfMajorPerformanceCaveat:!0`, this will be enough to force WebGL to keep working even if the browser doesn't think it's going to be optimal.
I had filed a bug with Mozilla as well as requested an optional feature in TF.js. Best place to start is probably on the [TF.js

[2021-03-30 09:47] hindmost opened #172 "Copyright issue"
Guys, I like your extension it's nice. But I don't like that you [copied](https://github.com/nsfw-filter/nsfw-filter/tree/master/src/popup/redux/chrome-storage) the sources of [my library](https://github.com/hindmost/reduxed-chrome-storage) without any attribution to me or my repo at least. Even being opensource you may not do so - my license prohibits it. You have to put some link to my library's

[2021-03-30 13:45] YegorZaremba commented on #172
Hi @hindmost Im so sorry, I would like to dive deep with you lib and forgot to install it. I'll fix it today/tmrw and add your lib in our Readme for potential PR <3

[2021-04-01 10:12] hindmost commented on #172
BTW/FYI, the latest version of my library (2.0.0) supports TypeScript. so allowJs option in your tsconfig is unnecessary now.

[2021-04-04 08:04] #172 closed

[2021-04-04 08:07] YegorZaremba commented on #172
Fixed
Thanks for the library
It would be great to be able to export helper types  https://github.com/nsfw-filter/nsfw-filter/blob/master/src/popup/redux/chrome-storage/index.ts#L12

[2021-04-04 08:28] #156 closed

[2021-04-05 16:27] hindmost commented on #172
@YegorZaremba Thanks for noting, I missed that point. Maybe I better change the function signature to use `string` type for `storageArea` param, instead of helper type (`StorageAreaName`)?

[2021-04-09 15:36] hindmost commented on #172
Just FYI. I changed/fixed TypeScript definition in the function signature. Now it won't produce that error. Update my library to 2.0.5 in your package.

[2021-04-10 05:45] neel1998 opened #176 "How to use some other pre trained model?"
I want to use another pre trained model as the backend model for this extension. How can I do that?

[2021-04-10 12:58] navendu-pottekkat commented on #176
Hi @neel1998 please refer issue #164

[2021-04-10 13:04] neel1998 commented on #176
How do I create the .json and .bin files?... Should I just use tf.save()?

[2021-04-10 14:10] navendu-pottekkat commented on #176
If you are using a TF Keras model you can convert it to TFJS format. Refer
https://www.tensorflow.org/js/guide/conversion

On Sat, 10 Apr 2021 at 18:35, Neel Trivedi ***@***.***> wrote:

[2021-04-12 02:01] arkwind opened #177 "not blocking nsfw thumbnails on youtube.com"
There is lot of nsfw content on youtube.com under breastfeeding, naked yoga, other clickbait porn channels etc. Although these are mostly age restricted, the thumbnails of the videos have images of girls fully naked. The pussy shaving tutorial videos thumbnails are very explicit. The nsfw filter is not working youtube.com. Please look into this issue.
Thanks

[2021-04-12 04:51] navendu-pottekkat commented on #177
@arkwind Thank you for opening the issue. We have a better model in our pipeline and hope to fix this.

[2021-04-14 18:01] sensitivecereal opened #178 "Error when switching to a bigger model"
Hi,

I'm getting an error when trying to switch my model to a bigger one (The "Inception V3" one on the model repo).
Here's a screenshot of the error chrome is giving me.
Any idea how I could fix this?

The error:
![image](https://user-images.githubusercontent.com/18369396/114757172-d0775b80-9d5b-11eb-8c4f-7e4b6e9289c3.png)

The model I'm trying to use:
![image](https://user-images.githubuserconte

[2021-04-19 04:31] lolzmanic opened #179 "Not blocking images on 4chan"
Hi, I've noticed that the filter is not always blocking NSFW images on 4chan. For example, on the fitness board which is supposed to be SFW, people occasionally post pornographic content, and a few times I have noticed that these images are not getting blocked.

[2021-04-19 05:38] navendu-pottekkat commented on #179
@lolzmanic We are in the process of upgrading the model to better handle such images. Here is the model we are using currently- https://github.com/nsfw-filter/nsfw_model

[2021-04-19 05:40] navendu-pottekkat commented on #178
Changing the model should be straightforward, recently @kiran-collab swapped models and it was working.

[2021-04-19 05:41] navendu-pottekkat commented on #178
@kiran-collab Could you help out here?

[2021-04-20 06:42] kiran-collab commented on #178
@sensitivecereal Hi!
I have tried to load a different model like efficientnet,etc for the plugin.
Just putting the model files might not help!
Incase the model is a 'keras-model', we have to change it to a 'graph-model', as the  native model used in the plugin has its type as 'graph-model'.
I have tried the same. However I am getting an error in the process of conversion.
I would revert back once

[2021-05-25 11:06] lizhendong128 opened #183 "Could you add this to the Edge Brower Store?"
I like this, but I usually use the Edge brower. Could you add this to the Edge Brower Store~
Very thanks~~

[2021-06-24 19:36] omeritzics commented on #183
Joining the request, this will be great.

Until then, you can install NSFW Filter for Edge from the Google Chrome Web Store.

[2021-06-25 03:52] navendu-pottekkat commented on #183
Thank you for raising this issue @lizhendong128 @omeritzics

This seems like something we can do easily. I will look into publishing it to Edge. For now, I think you can install the Chrome extension on your Edge browser. See https://pureinfotech.com/install-chrome-extension-chromium-edge/

[2021-07-13 04:22] Mahdi-Noor-Hasan commented on #183
Why do we need it? Can't we just install it from Chrome Web Store?

[2021-07-13 09:35] navendu-pottekkat commented on #183
Yes we can, but it would be better if we have it listed on the default Edge store as well if that is a thing.

[2021-08-18 17:21] Ashish0804 opened #186 "Bunch of False positives"
#### False Positives

Having a bunch of false positives for workspace images
#### Expected result

It shouldn't blur/hide them
#### Actual result

It's blurring/hiding them
#### Steps to reproduce

1. Set strictness to max with default model
2. Go to https://boards.4channel.org/g/thread/82991211
3. Wonder why it's happening and curse black box models
#### Context

It isn't affecting me in any seri

[2021-08-18 17:25] navendu-pottekkat commented on #186
Thank you for reporting the issue @Ashish0804 . We are planning to build a better model tailored specifically for Internet/ Browsing. The ETA of this is not quite sure but we definitely need to fix this.

[2021-10-31 11:34] JaxemMax opened #196 "Is there a Firefox version?"

[2021-11-01 09:44] navendu-pottekkat commented on #196
@JaxemMax We just stopped supporting Firefox. Firefox add-ons has some bugs which it seems like the Firefox team is not going to fix. So, we just delisted it from the store. You can always try building it from source and running the development version on Firefox.

[2021-11-01 15:19] JaxemMax commented on #196
oh, ok

[2021-11-01 15:19] #196 closed

[2021-11-09 06:17] navendu-pottekkat opened #197 "Check and implement Yahoo model"
#### Describe the solution you'd like

Check the accuracy and the usability of this model and see if we can port it to TFJS and implement in NSFW Filter. https://github.com/bhky/opennsfw2

[2021-11-09 06:30] YegorZaremba commented on #197
Thanks, I'll test it
https://github.com/bhky/opennsfw2/releases/download/v0.1.0/open_nsfw_weights.h5

[2021-12-08 00:20] Geo25rey opened #198 "No longer available in the Chrome Webstore"

[2021-12-09 12:37] navendu-pottekkat commented on #198
@YegorZaremba Seems like we are asking for more permissions than needed and the Chrome webstore might have blocked the extension.

[2021-12-09 17:33] Ashish0804 commented on #186
@navendu-pottekkat inspired by this project...and frustrated with false positives 😅
I decided to choose this as my final year project.

I used efficientnetv1 as backbone with imagenet weights and have got fairly decent results.
I'll soon make the models public (with an efficientnetv2 in pipeline as well)
Hopefully my models can be used with this extension 🤞

P.S. the data is imgur, reddit and porn

[2021-12-10 04:08] navendu-pottekkat commented on #186
That is awesome to hear! We can add multiple models and if what you build performs well, feel free to contribute to it here!

[2021-12-10 12:59] sensitivecereal opened #199 "Not filtering correctly when multiple tabs are opened at once"
Filter works fine on single tabs but not when you open many at once.

#### Bug description
When you open multiple tabs at once, suddenly it either doesn't work at all for the non-active tabs or it only works partially.
90-100% of the images' attributes are stuck on "processing".

#### Expected result
Filter should work in the background and work on all tabs, not just the one that's visible but als

[2021-12-10 13:12] YegorZaremba commented on #199
Hi @sensitivecereal Nice to see you =)

Thanks, I'll check multi tab logic in next release

[2021-12-10 13:14] sensitivecereal commented on #199
Hi ^^ and thanks!

[2021-12-13 14:30] litmount commented on #198
Seems chrome is reporting it as malware...
![image](https://user-images.githubusercontent.com/13424401/145830370-08605e35-e342-4f18-a96f-d690ded7b838.png)

[2021-12-13 18:25] navendu-pottekkat commented on #198
Yep. I think it is because we ask for more permissions than we need...

[2021-12-13 18:47] YegorZaremba commented on #198
It will be fixed in the nex release with
https://github.com/nsfw-filter/nsfw-filter/issues/199
https://github.com/nsfw-filter/nsfw-filter/issues/197

I hope I get a few days in the Christmas for it

[2022-01-23 10:34] keroberos-s opened #200 "can you add this nsfw images?"
#### Bug description

not filtered this imgs even nsfw

i.imgur.com/ZHb3pTa.jpg
i.imgur.com/HKeEkSM.jpg
i.imgur.com/dXNiYLc.jpg

and i think download isn't not work https://chrome.google.com/webstore/detail/nsfw-filter/kmgagnlkckiamnenbpigfaljmanlbbhh

* Version used: 1.3.0
* Browser Name and version: Opera GX / LVL3 (core: 82.0.4227.50)
* Operating System and version: Windows 10 / 20H2 (OS bulid

[2022-01-23 21:30] Delphox commented on #183
Another good reason to upload to Edge Store is an alternative in case the Chrome Webstore version is down (like right now). They follow slightly different rules.

[2022-01-31 03:37] Abuda1 opened #203 "After running the "npm run test" command I recieved an error: -4048"
#### Bug description

The test ended in an error.
#### Expected result

No error
#### Actual result

Error
#### Steps to reproduce

Follow all instructions in the development section of the README of this repo (the npm commands).

#### Context

I am attempting to get a copy of the extension (developement version or not) by building from a cloned repo because I am unable to obtain this extension fr

[2022-01-31 03:45] Abuda1 commented on #203
By the way, I did try running git bash and "npm run test" in administrator mode... nothing changed, same error.

[2022-02-21 22:12] litmount commented on #198
@YegorZaremba Any update on this? It's still not on the store?

[2022-03-01 23:50] csgosmorf commented on #198
To anyone who is not a programmer, this program is utterly useless if it can't be installed in the chrome extensions page and there is not a how-to guide on installing it on this repo. It really narrows the target audience to a crazy degree. This should be the top priority by far imo, unless you're just developing it for the developers themselves.

[2022-03-02 04:17] navendu-pottekkat commented on #198
@csgosmorf @litmount This project is entirely free and open source. We started this project two years ago and we do not have enough time now to continue maintaining the project. We are trying our best to find time to work on the project and get a stable release out.

If @YegorZaremba is available to fix this, we will get a working version on the store soon.

We will also try to get new maintainers

[2022-03-24 17:46] 0xturboblitz opened #205 "Migration to manifest v3"
Hi,
Thanks a lot for your work.

With manifest v3, chrome replaced background scripts with service workers, which cannot access the DOM.
Is there any plan to migrate the extension to manifest v3 ?

I am building a similar extension and I was unable to use nsfwjs in the service worker because of it's inability to manipulate DOM objects.
I would be very interested if anyone had an idea to solve this

[2022-03-24 19:40] YegorZaremba commented on #205
@0xturboblitz Hi, thank you so much for this information, I will figure it out in the near future, I will keep you informed

[2022-03-30 20:31] #124 closed

[2022-04-09 12:29] sensitivecereal opened #207 "Suddenly stopped working entirely."
Filter not working anymore

#### Bug description
Nothing gets filtered, everything is marked as "sfw" even with super obviously nsfw images,  i tested it in google images.

#### Expected result
searching for "P**n" in google images, it should be all filtered out.

#### Actual result
Nothing's filtered out.

[2022-04-09 12:49] #207 closed

[2022-04-09 12:58] sensitivecereal opened #208 "Hardware acceleration breaks the filter"
Hardware acceleration breaks the filter

#### Bug description
When "Use hardware acceleration when possible" is enabled in Chrome, the filter suddenly stops working.

#### Expected result
Filter should still work.

#### Actual result
Filter doesn't filter out anything, everything is considered sfw.

#### Steps to reproduce

1. Go to Chrome settings -> Advanced -> System
2. Enable "Use hardware acc

[2022-04-20 00:56] wingman-jr-addon commented on #208
Hi @sensitivecereal !  With the Tensorflow.js usage, it's also helpful to know about the hardware setup. So maybe a couple questions to help triage things here for folks:

1. Does this happen on every computer you try it on or just one? Ideally try one with a better video card and one without.
2. Can you post video card setup for the one that's not working? I can't remember if Chrome has a way to

[2022-04-20 02:36] wingman-jr-addon commented on #205
You may be interested in this WECG issue I'd created: https://github.com/w3c/webextensions/issues/73
ServiceWorkers are challenging for a variety of use cases, and I think it may be difficult to go to MV3 without some workarounds or compromises.

[2022-04-20 03:47] YegorZaremba commented on #205
@wingman-jr-addon Thanks you, your messages are always helpful :heart:

[2022-04-24 17:12] zeref-dragneel opened #211 "Dead link for Firefox extension"
Link [nsfw-filter.com](https://addons.mozilla.org/en-US/firefox/addon/nsfw-filter/) shows 404 error "Oops! We can’t find that page".

![ảnh](https://user-images.githubusercontent.com/95934994/164988276-c29af451-39ee-4834-ba8e-261e276d541c.png)

<details>

![ảnh](https://user-images.githubusercontent.com/95934994/164987952-354f3c4e-67b4-4b92-867d-86004b756ffb.png)

</details>

[2022-04-25 06:49] navendu-pottekkat commented on #211
@zeref-dragneel Firefox stopped supporting some features and we had to take it down from the store because it was no longer working. Will update the site. New version for Chrome was submitted today.

[2022-04-25 08:29] sensitivecereal commented on #208
Okay, so I somehow fixed it.
It was either:
1. Going into the NVIDIA Control Panel and setting chrome.exe to specifically use my discrete GPU for WebGL.
2. Going into the Windows 10 Graphics settings and setting chrome to use my discrete GPU.
My bad.

[2022-04-25 08:29] #208 closed

[2022-04-25 11:53] #211 closed

[2022-04-26 02:02] wingman-jr-addon commented on #208
@sensitivecereal  That's actually probably a thing that either the Chrome team or the Tensorflow.js team might be interested in (assuming it's something deeper). Can you get the issue to reoccur if you flip back to the other GPU?

[2022-05-07 06:18] YegorZaremba commented on #200
@keroberos-s Thanks for your bug report, now you can download the extension from the link above :heart:

[2022-05-07 06:18] #200 closed

[2022-05-07 06:21] YegorZaremba commented on #200
Hi @keroberos-s
Sorry for that, this issue related to https://github.com/infinitered/nsfwjs/issues/324

Try to play with strictness
![image](https://user-images.githubusercontent.com/31797554/167241542-556d48bc-3595-4c42-ab17-a8f57056d4c8.png)

[2022-05-07 06:25] YegorZaremba commented on #144
Its better to close it =)

[2022-05-07 06:25] #144 closed

[2022-05-07 06:26] YegorZaremba commented on #154
Already done

[2022-05-07 06:26] #154 closed

[2022-05-07 06:28] YegorZaremba commented on #164
Looks like question, please open a new issue for related bugs/questions

[2022-05-07 06:28] #164 closed

[2022-05-07 06:28] YegorZaremba commented on #176
Looks like question, please open a new issue for related bugs/questions

[2022-05-07 06:28] #176 closed

[2022-05-07 06:29] YegorZaremba commented on #198
@Geo25rey @litmount @csgosmorf now you can download it https://chrome.google.com/webstore/detail/nsfw-filter/kmgagnlkckiamnenbpigfaljmanlbbhh/related

[2022-05-07 06:29] #198 closed

[2022-05-07 06:30] YegorZaremba commented on #152
Done

[2022-05-07 06:30] #152 closed

[2022-05-07 06:32] YegorZaremba commented on #186
Hi @Ashish0804
Sorry for that, this issue related to https://github.com/infinitered/nsfwjs/issues/324

Try to play with strictness

![image](https://user-images.githubusercontent.com/31797554/167242010-8bea366a-2a0c-469e-8524-73ce82e99e98.png)

[2022-05-07 06:32] #186 closed

[2022-05-07 06:37] YegorZaremba opened #214 "Wrap codebase into dockerfile to run tests and development on Windows"
There are some problems for Windows users, it would be great to have a docker file for our development/testing process

[2022-05-07 06:38] YegorZaremba commented on #203
@Abuda1 Hi, thanks for your bug report, I created a related issue https://github.com/nsfw-filter/nsfw-filter/issues/214

[2022-05-07 06:38] #203 closed

[2022-05-07 06:39] YegorZaremba commented on #214
@navendu-pottekkat would you like to take it? :)

[2022-05-07 06:40] navendu-pottekkat commented on #214
Sure, I would take a look. Similar for ARM users I guess.

[2022-05-07 06:40] YegorZaremba commented on #179
I'll take it

[2022-05-07 06:43] YegorZaremba commented on #160
Please open a new issue for related bugs/questions

[2022-05-07 06:43] #160 closed

[2022-05-07 06:44] YegorZaremba commented on #170
Hi @user00124573 we stopped support Firefox, pls try our Chrome version https://chrome.google.com/webstore/detail/nsfw-filter/kmgagnlkckiamnenbpigfaljmanlbbhh/related

[2022-05-07 06:44] #170 closed

[2022-05-07 06:45] YegorZaremba commented on #183
@navendu-pottekkat Is it time to do it?

[2022-05-07 06:48] YegorZaremba commented on #157
@Gann123 We upload new version https://chrome.google.com/webstore/detail/nsfw-filter/kmgagnlkckiamnenbpigfaljmanlbbhh

This issue related to https://github.com/infinitered/nsfwjs/issues/324

Also you can play with strictness
![image](https://user-images.githubusercontent.com/31797554/167242455-de649fa5-ad72-44b9-b60f-510b9ada8f16.png)

[2022-05-07 06:48] #157 closed

[2022-05-07 06:49] YegorZaremba commented on #177
I'll take it

[2022-05-07 09:25] navendu-pottekkat commented on #183
I will look into this

[2022-05-09 16:30] PandaBearJr opened #215 "Filter not working on twitter"
Filter not working on twitter.
#### Bug description

The filter does not work when using twitter. It doesn't detect any images as nudity, not even when you open them.
#### Expected result

A fix so that they do get filtered.
#### Actual result

Nothing happens.
#### Steps to reproduce

1. Have the filter on
2. Open twitter
3. Go to an NSFW post/picture
#### Context

I want to be able to scroll thr

[2022-05-09 16:46] navendu-pottekkat commented on #215
@PandaBearJr Could you share some links to these tweets? Also, could you share if it is working on other websites?

[2022-05-11 00:10] Ngalstyan4 opened #216 "Use webRequest Stream Filtering browser API wherever available to avoid extra image loading"
My understanding is that the extension iterates through all the image elements in the DOM after the page is loaded, gathers their URLs and then *recreates `new Image()`* elements to repopulate image content and pass the `Image` instance to TFJS.

In the worst case, this results in additional network requests which are unnecessary since the image content that is loaded is available on the page. In

[2022-05-11 04:46] YegorZaremba commented on #216
@Ngalstyan4 Hi, wow, looks great, I hope I will find time in May to implement and test it

[2022-05-17 11:13] YegorZaremba commented on #215
@PandaBearJr thanks, I'll check it out

[2022-05-25 15:26] cyatek opened #217 "desuarchive.org issue"
Example thread, first image is NSFW: https://desuarchive.org/fit/thread/66905175/

Even though it hides the images fine, it leaves a little horizontal stripe which can be clicked to open it on a new tab:
![image](https://user-images.githubusercontent.com/19691333/170298562-8fca165a-d8ab-4849-b203-cd1476d292fc.png)

My objective is to stop all workarounds to NSFW images on this site, this being my

[2022-05-25 17:08] navendu-pottekkat commented on #217
We can maybe add an option that would remove the anchor tag from the images. @YegorZaremba What do you think?

[2022-05-25 19:03] YegorZaremba commented on #217
I'll check it, but not sure that it easy to fix without crashing other websites

[2022-06-21 12:43] user7241 opened #218 "Possibility to turn off the filter for a specific element"
There are many false positive at a high level strictness.
It might be worth adding a way to disable the filter for a specific image in the context menu by clicking on the image.
Sorry if duplicate. Thank you.

[2022-06-22 04:39] navendu-pottekkat commented on #218
This might be a good feature and would be quite useful.

[2022-07-27 12:59] Eyal-Elbaz opened #220 "Cannot connect to background worker"
I tried change to the build the extension in my computer but while running I get
`Cannot connect to background worker ` message
#### Bug description
`[NSFW-Filter] Cannot connect to background worker for https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Queen_Elizabeth_II_in_March_2015.jpg/800px-Queen_Elizabeth_II_in_March_2015.jpg image, attempt 2, error: Could not establish connection. R

[2022-07-30 19:01] nonetrix commented on #205
If a way to do this in manifest V3 is found will Firefox support be reconsidered?

[2022-08-04 04:03] wingman-jr-addon commented on #205
Firefox is taking a different approach: Limited Event Pages. There are some differences here that may work better. See https://blog.mozilla.org/addons/2022/05/18/manifest-v3-in-firefox-recap-next-steps/

[2022-08-31 16:16] servusdei2018 commented on #215
It sounds like the DOMWatcher isn't being notified when Twitter updates the DOM.

[2022-09-22 02:21] nonetrix opened #222 "Doesn't work in kiwi browser"
#### Bug description
extension doesn't work in Kiwi browser a mobile fork of Chromium with added extension support

This might be difficult to fix due to Kiwi browser using a slightly more limited to my understanding extensions API but it should be looked into

Other fix could be possibility porting the extension back to Firefox and seeing if it works there with custom bundle but this is likely no